<p class='intro'><span class='firstcharacter'>A</span>t its best, the web can turn your computer or mobile device into a research library, a movie theater, a medical tool or a means to connect with just about anyone else on the planet. It’s an open, safe place to be who you are and grow into something new.</p>

<p class='intro'>At its worst, the Internet can become a dark and threatening place - a tool for thieves to steal, corporations to spy and governments to oppress. </p>

<p class='intro'>As the saying goes, the Web is what we make it. </p>

<br/>

<p>Information may want to flow freely, but there are plenty of forces that want to dam up the web’s flow of information and punish those who try to fight back.</p>

<p>In particular, some governments are working hard to wall off parts of the Internet by filtering and blocking what people can see. Others are exploiting the open nature of the web to spy on individuals and punish them for what they do online.</p>

<p>As surveillance and censoring technologies advance, so, too, do new tools for your computer or mobile device that help protect your privacy and break through Internet censorship.</p>

<p>Think of this project as something like a primer on Internet circumvention and anonymity. </p>

<p>This is a basic overview on what the challenges are and how to fight back, emphasis on “basic.”  This is not a complete, iron-clad, never-changing rule book. Rather, think of this as a general guide to discuss a few key concepts and introduce several tools that can help you keep the Internet relatively free and safe. </p>

<h3 class='subhed'>Keep in mind</h3>

<p><span class='label'>Circumvention is not anonymity:</span> Breaking through a firewall does not equal keeping yourself anonymous online. Some of the tools we’ll focus on will help you both circumvent blocks as well as shield your identity while online. Others tend to do one or the other, but not both. </p>

<p><span class='label'>Every country, just like every user, is different:</span> If you’re planning on doing a lot of uploading, or live in a country where the government actively spies on what users are doing, you probably want to select a tool with high anonymity. If you mostly just want to reach websites that your government blocks, you may be OK using tools that just help you do that. And remember, no one tool can do everything, so you may want to try your own mix of protection and circumvention. </p>

<p><span class='label'>Sometimes government isn’t the problem:</span> In the early 2000s, two Chinese dissidents, Wang Xiaoning and Shi Tao, were jailed by China for their online activities. What wasn’t widely known at the time is that Yahoo voluntarily turned over the pair’s email records to Chinese authorities, which were then used by prosecutors. It’s important to remember that private corporations which operate websites and ISPs are constantly gathering all sorts of data on you – sometimes for their own profit, and sometimes at the order of a government. </p>


<div class="img_fs_cap right">
	<div><img src="<%= pathPrefixImage %>images/comic_PGP_6.png" alt="" /></div>
	<p class="caption"></p>
</div>


<p><span class='label'>Some tools are better than others:</span> In 2009 during what some called the “Twitter Revolution,” Iranians took to the streets to protest recent elections and used websites, social media and other online tools to organize. That is, until the government cracked down. Then along came a new tool called “Haystack” that was supposed to help Iranians evade government blocks. However, because of a programming flaw, “Haystack” also likely exposed many of its users to Iranian authorities before it was shut down.  Lesson: new isn’t necessarily better. </p>

<p><span class='label'>Practice good web hygiene:</span> Just like you need a little discipline in your personal life, you should always employ some basic habits when going online. Try not to use public WiFi, as anyone can easily monitor what you’re doing and steal personal information. If you’re using a web browser, try to use HTTPS encryption as often as you can. Don’t open emails from people you don’t know, or attachments you haven’t asked for. Clear your browser’s history and cookies file as often as you can. You don’t need to be fearful about using the web, but a little skepticism goes a long way. </p>

<p><span class='label'>Nothing’s perfect:</span> If there’s one thing that can be said with perfect certainty, it’s that there is no 100 percent guarantee of anonymity and free access online. If a government wants badly enough to control what you do online, they’ll probably find a way. </p>