
<p class='intro'>Freegate relies on a constantly shifting network of private proxy servers to help users in nations like China and Vietnam slip past governmental censors and filters.</p>

<p class='intro'>Freegate is a service created and managed by the private firm Dynamic Internet Technologies, or DIT for short. DIT was founded in 2001 initially to allow emails to be sent securely to and from China, using a proprietary proxy network called “Dynaweb” but has since evolved into a full-service circumvention tool. </p>

<p>Any user can access Dynaweb simply by pointing their browser URL to one of DIT’s proxy servers. Once connected, the network uses a collection of encryption and circumvention tools to allow users to by-pass national censors.</p>

<p>However, because restrictive governments like China monitored DIT’s servers and blocked them, Dynaweb evolved into a rapidly shifting network of mirror sites that continues to prove difficult to block.</p>

<p>To manage this ever-changing web of proxies, DIT created Freegate. </p>

<p>Freegate was launched in 2004, in part with sponsorship by VOA’s parent agency the Broadcasting Board of Governors, initially for the Chinese market. Since then, it’s grown to become a popular tool in several nations. </p>

<h3 class='subhed icon how'>How Freegate works</h3>

<p>Freegate was designed to be as simple and transparent for users as possible. The program itself is a small application which users can download to their computers or mobile devices. </p>

<p>Once installed, Freegate lets users access the Dynaweb without having to constantly keep track of non-blocked servers. Again, it’s important to remember that even though Freegate uses a series of encryption layers, it’s no guarantee of privacy.</p>

<p>While DIT estimates that Freegate has users in dozens of countries, it’s primarily designed and supported to help users slip past governmental censors in two specific nations: China and Iran. For those interested in surfing the web beyond the reach of China’s “Great Firewall” and Iran’s extensive blocks, Freegate can help. </p>

<p>For example, a user accessing Google in China searching for “Tiananmen Square” will be very difficult results returned than someone reaching Google through, say, Sweden. That’s because of China’s pervasive filtering and monitoring of web traffic flowing in and out of the country. By using Freegate’s web of proxy servers, a Chinese user can in effect disguise themselves and where they are, thus bypassing the firewall. </p>

<h3 class='subhed icon caution'>Possible drawbacks</h3>

<p>There are some pitfalls. Although the Dynaweb employs a technically sophisticated network of constantly shifting proxies and mirror sites, it’s still limited in size.</p>

<p>Further, the majority of those sites are located in either Taiwan or the U.S., and that can make it easier for Chinese authorities to block to Freegate because they know the locations.</p>

<p>Additionally, there have been several incidents of bogus Freegate downloads actually installed spyware on user’s computers rather than circumvention protocols. Because a number of different versions of Freegate have been released, it can be confusing for users to know and trust that the version they’re using is actually what it says it is. </p>

<h3 class='subhed icon bottomLine'>The bottom line</h3>

<p>Freegate has established itself as a good circumvention tool in China and Iran, and to a lesser degree in other Asian and Middle Eastern nations. It’s very easy to use, costs nothing, and can be an effective application in evading national Internet blocks and filtering. However, it’s not as effective in cloaking user’s identities and should not be considered sufficient to guard one’s privacy online. </p>