
<h3 class='subhed'>What Is UltraSurf?</h3>

<p>UltraSurf was launched in 2002 by a group of Chinese nationals working in the U.S. </p>

<p>Like Freegate, it was originally created to help Chinese Internet users break through the so-called “Great Firewall of China” which at that time was nearing full operational capability. The firm behind UltraSurf, the UltraReach Internet Corporation, claims its product has three to five million monthly users from 180 nations, and is financially supported in part by VOA’s parent agency, the Broadcasting Board of Governors. </p>

<p>UltraSurf is a free, downloadable program that’s small and easy to install. In fact, it’s so small that many users download it to a USB thumb drive and carry it with them to run directly from the drive on a variety of computers. While it does have some privacy protection built in, it’s important to remember that UltraSurf is designed primarily as a circumvention tool. </p>

<h3 class='subhed icon how'>How UltraSurf works</h3>

<p>Much like Psiphon and Freegate, UltraSurf relies on a large and constantly shifting network of proxy servers and mirror sites as the backbone of its circumvention protocol. Which, for a layman, may suffice. However UltraSurf, and its parent company UltraReach, does not offer developers and other white hat hackers much information about how UltraSurf specifically works, and how it differs in a technical basis from other related circumvention tools. </p>

<p>What can be said is that UltraSurf is easy to download and use, and it offers both circumvention and some privacy capabilities, such as hiding your IP address. Once done, it also will erase any browser history, further covering your footsteps.</p>

<p>However, UltraSurf does recommend using only the Firefox or IE Explorer browsers with their product. </p>

<h3 class='subhed icon help'>How can UltraSurf help me?</h3>

<p>Once a user downloads UltraSurf to their computer, UltraSurf comes as a self-contained .zip file. That means, that when you open it with a zip utility, it doesn’t install onto your hard drive, it just runs. This has the benefit of making UltraSurf not only hard to trace, but portable, as you can simply carry it on a thumb drive, insert it into an computer, run it from there, and when you leave there would be no trace UltraSurf was ever used. </p>

<p>Once running, the user has some basic options to configure UltraSurf, or just run it off the defaults. UltraSurf then opens up a specific browser window – this is the safe window! Users IP addresses will be hidden, and their traffic should be considerably less blocked by firewalls (although there are no guarantees.) </p>

<p>It’s important to remember to use the UltraSurf window, however; if a user were to open up any other web browser, that would not be routed through UltraSurf and not safe. When all the desired activity is completed, just close UltraSurf. It will automatically erase all your Internet activity, and – if it’s on a thumb drive – you can simply remove it leaving no trace of what you’ve been doing. </p>

<h3 class='subhed icon caution'>Possible drawbacks</h3>

<p>UltraSurf engineers say their tool was principally designed to be used by Chinese residents hoping to by-pass China’s extensive “Great Firewall” filtering and censorship. Anecdotally, it’s said to be quite popular in China and appears to generally work well.</p>

<p>That said, it’s again of concern to software developers and the circumvention/privacy communities at large that very little about how UltraSurf specifically works is known or discussed by UltraReach. That’s not to say it doesn’t work or isn’t safe, but it’s much harder to make that claim without independent analysis. </p>

<h3 class='subhed icon bottomLine'>The bottom line</h3>

<p>Especially if you live in China and use a variety of computers in Internet cafes, UltraSurf may be an easy and free solution for you. Its portability makes it quick to use computer to computer, and its design leaves very little trace about your activities. Once inside UltraSurf, the tool appears to offer decent circumvention and privacy protections. Finally, it doesn’t hurt that it’s free, and you don’t need to be a computer whiz to operate it. </p>
