
<h3 class='subhed'>What Are VPNs?</h3>

<p>VPN is short for Virtual Private Network; “virtual” in this case meaning that you’re connecting two computers using the very public Internet, but doing so by creating a secure, private connection. VPNs were first developed for business workers who needed to remotely access sensitive data on their home servers, and have since grown in use and popularity.</p> 

<p>A VPN allows a user to send and receive private data of all kinds by using something commonly referred to as an Internet “tunnel.” </p>

<p>Think of it like this: there’s a computer network somewhere in the world that only lets specific users access it, and you’re one of them, but you can only reach it via the insecure Internet.</p>

<p>Using a VPN, both your computer and your target network authenticate themselves to each other as genuine. Then, your VPN wraps up your data on both ends in encrypted packets that only you and your network will understand. To anyone else tapping the line, the data exchanges would look like mere gibberish. </p>

<p>There are many different VPN services available - many with names like “PureVPN”, “AirVPN” or “VPN4All”. Each offers a distinct set of services and cost anywhere from nothing to $80 a year or more. </p>

<h3 class='subhed icon how'>How VPN works </h3>

<p>While it’s true that a VPN establishes a secure “tunnel” connection to a particular computer or network, you can also use it more generally to protect your anonymity and circumvent Internet blocks and firewalls. </p>

<p>In essence, once you set up and run a particular VPN service, your computer will establish a secure connection with a particular set of VPN servers associated with that service. </p>

<p>Your confidential request to view a blocked website, say YouTube, is sent to your VPN servers, which in turn send your anonymous request off to YouTube. YouTube will return the data to the VPN server which will then confidentially send it to you. It’s as if you went directly to YouTube, but you actually used another network to hide your location and identity.</p> 

<p>There is a hitch: if a government knows a specific server is being used by a VPN company to evade their blocks, they could just block that site as well. That’s why in many circumstances, VPN companies use a variety of servers and routers, making it very hard to block. </p>

<h3 class='subhed icon help'>How can a VPN help me? </h3>

<p>Because of the decentralized structure of the Internet, VPNs are generally hard for a government to block precisely because they can be so difficult to target and identify. They are also very effective at masking your identity and activity online, so if you’re likely to be uploading a lot of data as well as downloading it, or you fear punishment for your actions, a VPN can be a useful solution. </p>

<p>The wide range of VPN choices can be a little daunting, at least at first. There are all sorts of different methods and technical protocols that each network uses, and one VPN may not have the same reach as another. For those without lots of technical savvy, it can feel overwhelming. Try, however, not to get too lost about the details. A little research and a few trusted friends may help in narrowing down a choice. </p>

<h3 class='subhed icon caution'>Possible drawbacks</h3>

<p>Regarding circumvention, governments censor and monitor the Internet in different ways, and depending on which nation you’re in a VPN may not work as well. </p>

<p>Iran, for example, tends to block in-country access to specific websites, employing a large and changing list of specific blocks. For reasons mentioned above, that makes VPNs an often helpful tool in slipping past those specific blocks. But China employs a very different web monitoring system which can make other circumvention tools more useful.</p>

<p>Two other factors can present problems. First, to use a VPN you have to download files and applications from your VPN company in the first place. If you can’t reach that company online, or your government blocks or monitors your downloads, this can be a serious complication. </p>

<p>Secondly, because your traffic is being handed off across a variety of servers in unknown locations, a VPN sometimes can significantly slow down your online activity. Users have been known to just shut down the service out of frustration, but by doing so they again expose themselves online. </p>

<h3 class='subhed icon bottomLine'>The bottom line</h3>

<p>Overall, VPNs can be effective at both guarding your identity and helping you circumvent online blocks. However, they can be limited depending on cost, access, complexity and the nation where you live. </p>
