
<h3 class='subhed'>اولتراسرف  چيست؟</h3>
<p>اولتراسرف در سال ۲۰۰۲ توسط گروهی از اتباع چینی که در ایالات متحده کار می‌کردند راه اندازی شد.</p>

<p>مانند فری‌گيت، در اصل برای کمک به کاربران اینترنت در چين ساخته شده بود تا بتوانند از طریق شکستن به اصطلاح «فایروال بزرگ چین»، که در آن زمان توانایی کامل عملیاتی داشت، به اينترنت باز دسترسی پيدا کنند. شرکت حامی اولتراسرف، يعنی شرکت اینترنتی اولتراريچ، ادعا می‌کند محصولش ماهانه سه تا پنج میلیون کاربر از ۱۸۰ کشور دارد، و بخشی از بودجه آن را سازمان مادر صدای آمريکا، يعنی هيات مديره سازمان ناظر بر انتشارات دولتی آمریکا، تامين می‌کند.</p>

<p>اولتراسرف، برنامه‌ای رایگان و قابل دانلود بوده و نصب آن به‌راحتی امکان‌پذير است. در واقع، اين برنامه به اندازه‌ای کوچک است که بسیاری از کاربران آن را دانلود و بر روی يک فلش درايو USB ذخيره می‌کنند و سپس به طور مستقیم بر روی انواع کامپیوترها به‌اجرا می‌گذارند. با اين‌که اولتراسرف تا اندازه‌ای از حریم خصوصی حفاظت می‌کند، مهم است به یاد داشته باشیم که هدف از طراحی اولتراسرف در درجه اول دور زدن سانسور بوده است.</p>

<h3 class='subhed icon how'>اولتراسرف چگونه کار می کند؟</h3>
<p>بسياری از فيلترشکن‌ها بر ساختاری باز تکيه دارند، که به هرکسی اجازه می‌دهد پروسه را از نزديک ديده، نقاط ضعفش را کشف کرده و آن‌ها را تقويت کند. اما طرح اولتراسرف بسته است، با اين هدف که سری بودن طرح، آن‌را قوی‌تر سازد.</p>

<p>اولتراسرف، مانند سایفون و فری‌گيت، اولتراسرف بر اساس شبکه بزرگ و دائما تغيير يابنده‌ای از سرورها و وبسايت‌های آينه برای دور زدن سدهای اينترنتی بنا شده است. برای يک کاربر عادی، چنين ساختاری احتمالا کافی است.</p>

<p>آن‌چه می توان گفت این است‌که دانلود و استفاده از اولتراسرف آسان است و توانايی دورزدن فيلترينگ را با قابليت‌ حفاظت از حریم خصوصی ارايه می‌دهد، مانند مخفی کردن آدرس آی.پی کاربران. پس از پايان جلسه استفاده، اولتراسرف هرگونه سابقه مرورگر را نيز پاک می‌کند که به‌منزله پوشش بیشتر ردپای کاربر است.</p>

<p>با این حال، اولتراريچ  به کاربران توصیه می‌کند از مرورگر فایرفاکس یا اینترنت اکسپلورر با اولتراسرف استفاده کنند.</p>

<h3 class='subhed icon help'>اولتراسرف چگونه کمک می‌کند؟</h3>

<p>اولتراسرف به‌صورت يک فايل زيپ شده دانلود می‌شود. سپس می‌توان آن را بر روی يک فلش درايو با خود حمل و هرگاه لازم بود از همان‌جا آن را نصب کرد. با کليک کردن روی فايل زيپ شده، يک پنجره مرورگر امن و مطمئن باز می‌شود، يعنی هنگامی‌که شما فايل زيپ شده را باز می‌کنيد، بر روی ديسک گردان شما نصب نمی‌شود بلکه از روی حافظه اجرا می‌شود و اثری از خودش بر روی کامپيوتر شما نمی‌گذارد. اين خاصيت پورتابل بودن (يعنی همين‌که شما می‌توانيد آن را بر روی فلش درايو حمل کرده، فلش درايو را وارد کامپيوتر کرده و از همان‌جا آن را اجرا کنيد، و پس از آن‌که کارتان تمام شد هيچ ردپايی بر روی کامپيوتر شما باقی نمی‌گذارد) استفاده از اولتراسرف را امن و راحت می‌کند.</p>

<p>در هنگام اجرا، کاربر چند گزینه اساسی برای پیکربندی اولتراسرف دارد یا اگر خواست با پيش‌فرض‌های موجود آن را اجرا کند. سپس اولتراسرف یک پنجره خاص مرورگر باز می‌کند - این پنجره امن است! آدرس‌های آی.پی کاربران مخفی بوده و به‌اين‌ترتيب ترافيک آنها کمتر توسط فايروال مسدود می‌شود (اگر چه هیچ تضمینی وجود ندارد.)</p>

<p>این مهم است که کاربران به‌یاد داشته باشند حتما از پنجره اولتراسرف استفاده کنند. اگر کاربر مرورگر ديگری را باز کند، ترافيک آن مرورگر از درون شبکه اولتراسرف عبور داده نمی‌شود و بنابراين امن نيست. وقتی‌که همه فعالیت‌های مورد نظر به اتمام رسيد، صرفا پنجره اولتراسرف را ببنديد. این عمل به‌طور خودکار تمام فعالیت‌های اینترنتی شما را پاک می‌کند و - اگر آن را در یک فلش درایو ضبط کرده‌ايد – به‌سادگی می‌توانید فلش درایو را از کامپيوتر بيرون کشيده و هیچ اثری از آنچه انجام داده‌اید بر روی کامپيوتر نمی‌ماند.</p>

<h3 class='subhed icon caution'>اشکالات ممکن</h3>

<p>مهندسان اولتراسرف می‌گویند ابزار آن‌ها عمدتا برای استفاده آن دسته از ساکنان چین طراحی شده که می‌خواهند از فیلتر و سانسور گسترده و پيچيده «فایروال بزرگ» در چین عبور کنند. از شواهد و قراين اين‌طور برمی‌آيد اولتراسرف در چین بسیار محبوب است و به‌نظر می‌رسد عموما به‌خوبی کار می‌کند.</p>

<p>با همه اين احوال، اولتراسرف و شرکت سازنده آن اولتراريچ، اطلاعات مشخص بيشتری درباره اينکه چگونه اين نرم‌افزار کار می‌کند يا اين‌که با فن‌آوری‌های ديگر چه فرقی دارد، در دسترس توسعه دهندگان قرار نداده است. بزرگترين دغدغه توسعه‌دهندگان و برنامه نويسان اينترنتی و بطور کلی گروه‌های مبارزه با سانسور و محافظت از حريم خصوصی اين‌است‌که اطلاعات بسيار کمی درباره اولتراسرف و چگونگی کارکرد آن وجود دارد. بااین‌حال، اين به معنی آن نيست که اولتراسرف امن نيست، بلکه اطمينان حاصل کردن از آن از طريق يا تحليل مستقل دشوارتر است.</p>

<h3 class='subhed icon bottomLine'>در نهايت</h3>
<p>اگر شما به‌ويژه در ايران يا چین زندگی و در کافی‌نت‌ها از انواع کامپیوترها استفاده می‌کنيد، استفاده از  اولتراسرف می‌تواند راه حل آسان و رایگانی برای شما باشد. اندازه کوچک فايل اولتراسرف حمل سريع آن از کامپیوتری به کامپیوتر ديگر را آسان کرده و قابليت مخفی کردن ردپای کاربر از آن وسيله مطمئنی می‌سازد. هرگاه کاربر در داخل شبکه اولتراسرف قرار گرفت، به‌نظر می‌رسد ابزار مناسب و معقولی برای دور زدن و حفظ حریم خصوصی باشد. سرآخر اينکه، اين برنامه رايگان است، و کاربر لازم نیست از علوم کامپیوتری سررشته داشته باشد تا بتواند آن را اجرا کند.</p>
