
<p class='intro'>«تور» یکی از قدیمی‌ترین و محبوب‌ترین برنامه‌های کاربردی موجود برای دور زدن سانسور است. دلیلش این است‌که تور يکی از امن‌ترین و موثرترين راه‌های تضمين عدم شناسايی کاربران آنلاین است، که در عين حال به فرار از سانسورهای حکومتی کمک می‌کند. در اینجا خواهيد ديد تور چگونه عمل می‌کند، نحوه استفاده از آن چيست و چگونه می‌تواند به شما در جستجوی آزاد در اينترنت کمک کند.</p>

<h3 class='subhed'>تور چیست؟</h3>
<p>تور در زبان انگليسی مخفف عبارت «مسيریاب پياز»The Onion Router   است. چرا پياز؟ در اين اسم‌گذاری، پياز به عنوان قیاس مفیدی برای نحوه کار تور در نظر گرفته شده است. همان‌گونه که پیاز از بسیاری لایه‌ها تشکیل شده است، تور نيز از شبکه‌ای تودرتو از کامپیوترهای شخصی، بنام «گره» node بوجود آمده است‌که مسیر ترافیک اینترنتی کاربران را به رمز در می‌آورد. این شبکه ساختاری پيچيده و مضاعف دارد، و در برابر جاسوسی حکومت‌ها حفاظی قوی برای کاربران فراهم می‌کند.</p>

<p>ايده تور از درون پژوهش‌های فنی بسيار پيشرفته‌ای در سال‌های ۱۹۹۰ ميلادی در اداره تحقيقات دريايی ايالات متحده، موسوم به «دارپا»  DARPA، رشد کرد. از آن زمان بر حمایت‌کنندگان تور افزوده شده است و اکنون حتی سازمان مادر صدای آمريکا، يعنی هيات مديره سازمان ناظر بر انتشارات دولتی آمریکا، را شامل می‌شود.</p>

<p>تور در سال ۲۰۰۲ معرفی شد و از آن هنگام تاکنون چندين‌بار به‌روز شده و هر بار اشکالات فنی و شکاف‌های امنيتی آن که می‌توانست مورد سوء‌استفاده حکومت‌ها قرار بگيرد بيشتر برطرف شده است. مهم‌ترازهمه، هزاران نفر داوطلب کمک کننده به تور پراکنده در سراسر جهان، ستون فقرات تور را تشکيل می‌دهند. اين ساختار شبکه‌ای خصوصی ایجاد کرده است که به‌طور مخفيانه داده‌های کاربران را رمزگذاری و با مسدودکردن وبسايت‌ها و شنود توسط حکومت مبارزه می‌کند.</p>

<h3 class='subhed icon how'>چگونگی کارکرد تور</h3>
<p>به‌طور معمول در هنگام مراجعه به یک وبسایت، داده‌ها از کامپیوتر شما به هدفتان بر روی سرورهای عمومی در شبکه‌ جهانی هدايت می‌شود. اين شبکه به‌روز رسانی شده و اجازه می‌دهد ترافیک به سهولت از یک کامپیوتر به دیگری برود. با این حال، اين متن باز  Open Source کاربران را همچنين نسبت به انواع حفره‌های امنیتی آسیب‌پذیر می‌کند.</p>

<p>درمقابل، داده‌های کاربران تور، از لحظه‌ای‌که آنلاين می‌شوند، از سه نقطه اتفاقی در شبکه تور عبور می‌کنند. اين سه نقطه عبارتند از: نقطه ورود، نقطه بازپخش و نقطه خروج. هر يک از اين نقطه‌ها شبکه تور از ۳ کليد رمز‌گذاری منحصربفرد برخوردار است، به‌اين‌ترتيب‌که سيستم نقطه ورود کاربر و نقطه بازپخش را می‌شناسد. دو نقطه ورود و خروج به دليل نقطه واسط هيچ‌گاه يکديگر را آدرس‌دهی نمی‌کنند. و نقطه خروج نقطه بازپخش و مقصد را می‌شناسد. با وجود اين ۳ نقطه، هيچ کامپيوتری در شبکه تور به تنهايی نمی‌تواند مبدا و مقصد پيام‌ها را در آن واحد بداند. هيچ کامپيوتری نمی‌تواند از کليدهای رمزگذاری کامپیوترهای دیگر اطلاعات بگيرد، و به‌اين‌ترتيب هويت کاربر پنهان می‌ماند.</p>

<p>اگر کاربری کليدهای رمزگذاری را نداشته باشد، ترافيک کامپيوترش از شبکه تور بازگردانده می‌شود. نشان داده شده است که بازگرداندن ترافيک ناشناس از سوی شبکه تور ترفندی قوی است و در برابر تلاش‌ هکرها بسيار مقاوم است.</p>
<p>ارسال اطلاعات از طریق تور مانند بازی موش‌وگربه است که در آن موش مورد بحث سه ۳ بار مخفی شده و شکار آن توسط گربه به همان اندازه مشکل‌تر شده است.</p>

<h3 class='subhed icon help'>تور چگونه کار می‌کند؟</h3>
<p>تور برای دور زدن انواع سدهای اينترنتی به‌کار می‌آيد، اما بهترين مورد استفاده آن استتار هويت و پنهان کردن فعاليت های آنلاين کاربران از چشم سانسورگران و ناظران خارج از شبکه است. فرض کنيم شما در مورد نظارت دولت بر آنچه شما آنلاین انجام می‌دهيد نگران هستيد. چنانچه شما بسته نرم‌افزاری تور را  بر روی کامپیوتر خانگی خود دانلود ‌کنيد، خواهيد توانست به وبسايت‌های گوناگون در اینترنت رفته، هرچه را خواستيد آپلود و دانلود کرده و هر ایمیلی خواستيد بفرستيد و در چت‌های آنلاين شرکت کنيد و همه اين کارها را نيز به‌طور ناشناس انجام دهيد. همچنین، پراکندگی داوطلبانه تعداد زیادی از سرورهای تور در سراسر جهان مسدود کردن اين شبکه را مشکل می‌کند. این به معنی آن‌است‌که وبسايتی مانند فیس‌بوک یا گوگل ممکن است در ايران مسدود باشد، اما شما می‌توانید با استفاده از شبکه استتار هويت تور سد را دور بزنيد.</p>

<h3 class='subhed icon caution'>اشکالات ممکن</h3>
<p>تور ابزار موثری است، اما برای دور زدن و پنهان کردن هويت تضمین کاملی نمی‌دهد. شبکه داوطلب تور خود به‌نظر می‌رسد تا حد زیادی تا بالاترین سطح هک ایمنی مصون باشد، اما افراد نخاله‌ای هستند که می‌توانند از حفره‌های امنیتی موجود در دو طرف ارتباط بهره برداری کنند.</p>

<p>مرورگرهای استاندارد مانند فایرفاکس، کروم، اینترنت اکسپلورر و دیگران هر کدام آسیب پذیری‌های امنیتی منحصر به فردی دارند که می‌تواند برای جمع‌آوری اطلاعات شخصی شما مورد استفاده قرار گیرد.</p>

<p>به همین دلیل کاربران تور، به جای مرورگرهای استاندارد، به شدت تشویق به استفاده از مرورگر خاصی می‌شوند که همراه با دانلود می‌آید. بسته نرم‌افزاری تور همچنين افزونه‌هايی مانند جاوا و فلش را که رمزگذاری نشده و می‌توانند برای جاسوسی مورد سوءاستفاده قرار گيرند، مسدود می‌کند.</p>

<p>نبايد فراموش کرد که کامپيوترهای کاربران می‌تواند به‌طور مستقيم آلوده ويروس‌ها و بدافزارها شود. اين امر در جاهايی که امنيت نامناسبی دارد و نرم افزارهای جاسوسی به‌راحتی امکان نصب بر آن‌ها دارند، مانند کافی‌نت‌ها، ضمانت امنيت  کمتری دارد.</p>

<p>بسیار مهم است به‌خاطر داشته باشید درحالی‌که شبکه تور از هویت شما در برابر جاسوسی محافظت می‌کند، اما مقصد نهايی شما چنين کاری را نمی‌کند و به‌محض آن‌که داده‌ها شبکه تور را ترک می‌کنند، بار ديگر عمومی شده و آسیب پذیر هستند.</p>

<p>یک راه خوب برای جبران اين نقص، استفاده از تور با وی.پی.ان در محل خروجی داده است، زيرا وی.پی.ان شبکه مطمئنی است. اين ترکيب هويت شما را پنهان کرده و از داده‌های شما بعد از خروج از تور و تا رسيدن به مقصد محافظت می‌کند.</p>

<h3 class='subhed icon bottomLine'>در نهايت</h3>
<p>اگر حفاظتی قوی از حریم خصوصی خود و ابزاری مفید برای دور زدن سانسور می‌خواهيد، تور انتخاب خوبی است.</p>

<p>بااین‌حال، تور ابزاری است پیچیده و يکی از عيوب آن اين است‌که بطور قابل‌توجهی از سرعت مرور آنلاین می‌کاهد، بنابراين کاربرانی‌که از کندی ‌سرعت به‌راحتی ناامید می‌شوند، شايد بهتر باشد از ابزار ديگری استفاده کنند. جالب توجه اين است‌که يکی از تحليل‌گران آژانس امنيت ملی آمريکا در سندی محرمانه که توسط ادوارد اسنودن به بيرون درز پيدا کرد، درباره تور گفته بود، اين نرم‌افزار «... سرآمد همه ابزارهای استتار امن هويت اينترنتی، با تاخیر زمان کم است.» همين تحليل‌گر سپس اضافه می‌کند: «انتظار نمی‌رود هیچ رقیبی برای آن [تور] پيدا شود.»</p>
