
<h3>پی.جی.پی PGP</h3>

<a href='http://en.wikipedia.org/wiki/Phil_Zimmermann'><img src='<?php echo $akamai; ?>img/mug_pgp.jpg' class='mugshot' alt='portrait of Phil Zimmermann'/></a>
<p class='intro'>پی.جی.پی برای نخستين بار در اوایل سال ۱۹۹۰ توسط مهندس پیشگامی بنام فیل زیمرمن ایجاد شد و از آن زمان تا به حال چندین بار به‌روز شده و تکامل پيدا کرده است. پی.جی.پی، در واقع یک برنامه رمزنگاری بسیار قدرتمند است.</p>

<p>هنگامی که می‌گوئيم چیزی «رمزگذاری شده» به اين معنا است‌که اساسا از يک متن عادی تبديل به یک کد مخفی شده است که در حالت ایده آل، تنها با کمک یک کلید الکترونیکی می‌توان از آن رمزگشایی کرد. اگر شخص گيرنده پيام رمزگذاری شده کليد بازگشايی رمز را در اختيار نداشته باشد، آنچه خواهد ديد رشته‌ای از حروف و اعداد بی‌معنا و بی‌سروته خواهد بود که برای برگرداندن آن به‌صورت اوليه، بايد کُد رمز آن را باز کند. هراندازه کلید رمزگذاری پیچیده‌تر باشد، يافتن آن و گشودن رمز دشوارتر است.</p>

<p>پی.جی.پی می‌تواند ایمیل‌ها، متون، اسناد و یا حتی تمامی حافظه کامپیوتر را از طریق ترکیبی از ترفندهای کُدنويسی بسیار قدرتمند رمزگذاری کند. هنگامی که چیزی در کليد رمز پی.جی.پی پیچیده شد، کاربران احساس نسبتا راحتی پيدا خواهند کرد که تقریبا هیچ‌کس، بجز معدودی از پیچیده‌ترین کدشکن‌های جهان، قادر به گشودن کدِ رمز و خبرچينی از کارهايی که آنها دارند انجام می‌دهند نخواهد بود.</p>

<h3 class='subhed icon how'>پی.جی.پی. چگونه کار می کند</h3>

<p>هر ابزاری که قدرت پی.جی.پی را داشته باشد با خود پيچيدگی‌ها و سردرگمی‌هايی به ارمغان می‌آورد. تعداد کمی از کاربران پی.جی.پی واقعا الگوریتم‌های پیچیده رمزنگاری و مراحل فرآيند آن را درک می‌کنند، اما مفاهیم کارکردی پی.جی.پی نسبتا ساده است.</p>

<p>پی.جی.پی به جای استفاده از فقط یک کلید، از چند کلید الکترونیکی برای رمزگذاری استفاده می‌کند. یک کليد «عمومی»، یک کليد «خصوصی»، و کليد سومی برای «جلسه» ارتباط.</p>

<p>کلید عمومی آزادانه برای همه کسانی که از پی.جی.پی استفاده می‌کنند به اشتراک گذاشته می‌شود و برای رمزگذاری اسناد مورد استفاده قرار می‌گيرد. کلید خصوصی برای رمزگشایی داده‌ها تنها نزد دريافت کننده نهایی است. و بالاخره، کلید جلسه منحصرا خاص هر عمل رمزنگاری است.</p>

<p>فرآيند از اين قرار است. هر کليد رشته‌ای است طولانی از آنچه که به‌نظر مانند مزخرفات الکترونیکی می‌رسد. طول کلید بسته به ميزان رمزگذاری‌ای‌که یک کاربر می‌خواهد انجام دهد، متفاوت است، اما تفاوت بین عمومی و خصوصی بسيار مهم است. یکی از نخستين کارهايی که يک کاربر جدید پی.جی.پی انجام می‌دهد، تولید کلیدهای عمومی و خصوصی خاص خود است.</p>

<p>کاربران پی.جی.پی تشویق می‌شوند که کلید عمومی خود را در هر جا که مايلند به اشتراک بگذارند. اين آن‌چيزی است که ساير کاربران پی.جی.پی برای ارسال پیغام یا سند رمزگذاری شده خود به شما بدان نیاز خواهند داشت. کلیدهای خصوصی باید دقیقا خصوصی باقی بمانند، يعنی فقط برای کاربر، و هرگز به اشتراک گذاشته نشوند. بايد خوب از کلید خصوصی خود مراقبت کنيد، زيرا از دست دادن آن هميشگی خواهد بود، و هر فايلی را هم که با استفاده از آن رمزگذاری شده باشد هرگز نمی‌توان رمزگشايی کرد.</p>

<p>کاربری که ايميل یا سندی را می‌خواهد به رمز در آورد، ‌علاوه بر داشتن کلید عمومی فردی که می‌خواهد آن سند را برايش بفرستد، ابتدا بايد  متن خود را، با استفاده از «کلمه عبور پی.جی.پی»، «امضا» يا رمزگذاری کند، و سپس برای گيرنده بفرستد.</p>

<p>گیرنده، پيام را به‌‌صورت يکسری خزعبلات الکترونيکی دريافت می‌کند، مانند رشته‌ای از حروف و اعداد نامفهوم، اما با استفاده از کلید خصوصی خود و کلمه عبور منحصر به فرد، به دلیل اطلاعات کلیدی که در رمزگذاری پیچیده شده است، قادر به رمزگشايی و کشف متن خواهدبود. اين فرآيند دقيقا همين‌طور در جهت ديگر عمل می‌کند. مثل اين می‌ماندکه پيامی را در دو جعبه قفل کرده باشيم که تنها فرستنده و دريافت کننده قادر به باز کردن هردو هستند.</p>

<p>گرچه در بالاترین سطح رمزنگاری هنوز اين بحث وجود دارد که آيا نظام کُد نويسی دیجیتالی هست که واقعا بتوان آن را «غيرقابل شکست» ناميد، در اين مورد توافق وسيعی وجود دارد که رمزگذاری پی.جی.پی در نوع خود از تمامی برنامه‌های ديگر به تضمین‌های ارتباطی واقعا خصوصی نزدیک‌تر است. در بالاترین تنظیمات رمزگذاری حریم خصوصی، باز کردن اسناد رمزگذاری شده توسط پی.جی.پی، بدون کمک ابرکامپيوترها و تیمی از با استعدادترين کدشکن‌ها ... و شاید حتی در آن‌موقع هم، تقریبا غیر ممکن است. اگر شما اسنادی داريد که می‌خواهید مطمئن شوید هیچ کس بجز شما نتواند آن را ببيند، یا نیاز به تضمین‌های آهنينی داريد که ارتباطات ایمیل تان اکيدا خصوصی باقی بمانند، برای اين مقصود ابزاری بهتر از پی.جی.پی نمی‌توانيد پيدا کنيد.</p>

<h3 class='subhed icon caution'>اشکالات ممکن</h3>

<p>اما جنبه‌های منفی پی.جی.پی کدام است؟</p>

<p>نخست، با اين‌که پی.جی.پی حریم خصوصی اسناد رمز شده را تقريبا تضمین می‌کند، اما برای حفاظت از هویت فرستنده و گیرنده کاری انجام نمی‌دهد. اين برنامه صرفا ابزاری برای رمزگذاری است. پس حتی در موقع استفاده، هويت و فعاليت‌های آنلاين شما همانقدر در معرض شنود است که بدون پی.جی.پی بود. به‌اين‌ترتيب، اگر مقامات امنيتی مثلا مراسلات آنلاين شما را شنود کنند، نمی‌دانند چه می‌گوئيد، اما دقيقا می‌دانند با چه کسی در گفتگو هستيد. علاوه‌براین، پی.جی.پی یک ابزار پیچیده است. حتی کاربران با تجربه اغلب باید درباره مراحل رمزنگاری و رمزگشایی خوب فکر کنند. افرادی که احتمالا خود و فعاليت‌های آنلاين خود را تازه‌کار توصیف می‌کنند، حتما بايد درباره استفاده از پی.جی.پی تامل کنند.</p>

<h3 class='subhed icon bottomLine'>در نهايت</h3>

<p>اگر به ارسال یا ذخيره اسناد، به‌شيوه‌ای امن و بدون احتمال دخالت و شنود شدن، نياز داريد و برايتان مهم نيست که در اين راستا چند اقدام دشوار نيز انجام دهيد، پی.جی.پی خوراک شماست. اما اگر دنبال نرم‌افزاری هستيد که به دورزدن موانع اينترنتی کمک کند و یا از هويت آنلاین شما محافظت به‌عمل آورد، یا اگر يک نرم‌افزار پیچیده شما را به‌راحتی دلسرد می‌کند، پی.جی.پی برای شما نيست.</p>

