
<h3 class='subhed'>وی.پی.ان. VPN – شبکه مجازی خصوصی</h3>
<p>در ابتدا وی.پی.ان برای کارمندانی درنظر گرفته شده بود که می‌خواستند اطلاعات حساس کاری را از نقاط دور يا از منزل به محل کار در اداره ارسال کنند. از آن زمان به بعد با استقبال روبرو و رشد بسيآری کرده است. وی.پی.ان در زبان انگليسی مخفف عبارت «شبکه مجازی خصوصی» است. ايجاد ارتباط مجازی امن و مطمئن وی.پی.ان به شما امکان اين را می‌دهد که بين دو کامپيوتر يک خط مستقيم مجازی ايجاد کنيد به‌طوری‌که هيچ‌کس نتواند آن را شنود کند. ماهيت و عمل‌کرد، طرز استفاده، و اينکه چگونه وی.پی.ان. می‌تواند به شما در اينترنت کمک کند در اينجا توضيح داده می‌شود.</p>

<p>وی.پی.ان به کاربر اين امکان را می‌دهد تا در اينترنت عمومی يک تونل مجازی بين دو کامپيوتر ايجاد کرده و هرنوع اطلاعات خصوصی خود را از طريق آن به‌طور مطمئن ارسال کند. کاربران، با استفاده از ارتباط مطمئنی که سرورهای وی.پی.ان. برای گشت‌زنی مخفيانه در اختيار می‌گذارند، می‌توانند سانسورچيان حکومتی را دور زده و به وبسايت‌هايی که می‌خواهند بروند.</p>

<p>تصور کنيد يک شبکه کامپيوتری در نقطه‌ای از جهان وجود دارد و فقط تعداد محدودی از کاربران اجازه دسترسی به آن را دارند، و شما يکی از آن عده هستيد، اما تنها می‌توانيد با استفاده از اينترنت عمومی که نامطمئن است به آن راه يابيد.</p>

<p>کامپيوتر شما و شبکه مورد هدف هردو با استفاده از وی.پی.ان اعتبار پيدا کرده و مورد تصديق يکديگر قرار می‌گيرند. وی.پی.ان اطلاعات شما را در قطعات کوچکی به‌رمز درآورده بطوری که فقط شما و شبکه مورد هدفتان می‌تواند از آن سردرآورد. اطلاعاتی که از طريق وی.پی.ان مورد تبادل قرار می‌گيرد، برای شنود کننده غيرمجاز، نامفهوم خواهد بود.</p>

<p>خدمات وی.پی.ان مختلفی وجود دارد، بسياری از آن‌ها نام‌هايی مانند PureVPN و AirVPN  و VPN4All برخود دارند. هرکدام از اين ابزارها خدمات خاصی را ارايه می‌کنند و قيمت‌های متفاوتی هم دارند که از چند دلار تا ۱۰۰ دلار در سال را شامل می‌شود.</p>

<h3 class='subhed icon how'>وی.پی.ان چگونه کار می‌کند</h3>
<p>درست است‌که وی.پی.ان يک «تونل» ارتباطی بين کامپيوتر شما و کامپيوتر يا شبکه‌ای ديگر ايجاد می‌کند، شما همچنين می‌توانيد از وی.پی.ان. برای استتار هويت خود و دور زدن موانعی که سانسورچيان جلوی راهتان می‌گذارند استفاده کنيد.</p>

<p>دراساس وقتی که شما سرويس وی.پی.ان خاصی را بر روی کامپيوتر خود تنظيم و اجرا می‌کنيد، کامپيوتر شما ارتباطی مطمئن با گروه ويژه‌ای از سرورهای در ارتباط با آن سرويس برقرار می‌کند.</p>

<p>درخواست محرمانه شما برای رفتن به وبسایت مسدود شده‌ای، مثلا یوتیوب، به سرورهای وی.پی.ان شما فرستاده می‌شود. اين سرورها، به‌نوبه‌خود، درخواست ناشناس شما را به یوتیوب ارسال می‌کنند. یوتیوب اطلاعات درخواستی شما را به سرور وی.پی.ان برمی‌گرداند که پس از آن به‌طور محرمانه برای شما ارسال می‌شود. اين فرآيند چنين به‌نظر خواهد رسيد که گويی شما به‌طور مستقيم به يوتيوب رفته‌ايد، اما در واقع شما از شبکه واسطه‌ای استفاده کرده‌ايد که هويت و محل شما را مخفی کرده است.</p>

<p>فقط دردسری اين ميان وجود دارد، و آن‌هم اين است‌که اگر حکومتی بداند که سرور خاصی توسط شرکت دهنده خدمات وی.پی.ان برای فرار از فيلترينگ استفاده می‌شود، می‌تواند آن سايت را از روی آدرس آی.پی سرور مسدود کند. به‌همین دلیل در بسیاری از مواقع، شرکت‌های وی.پی.ان از انواع سرورها و روترها استفاده  می‌کنند تا مسدود کردن آن توسط حکومتها هرچه دشوارتر شود.</p>

<h3 class='subhed icon help'>وی.پی.ان چگونه به‌ کاربران کمک می‌کند؟</h3>
<p>ازآنجاکه ساختار اینترنت غیرمتمرکز است، حکومت‌ها دقيقا به‌اين‌دليل‌که هدف گرفتن و شناسايی وی.پی.ان‌ها بسيار دشوار است به‌طورکلی به‌سختی می‌توانند آنها را مسدود کنند. وی.پی.ان روش بسيار موثری برای استتار هويت کاربران و فعاليت‌های آنلاين آن‌ها است، ازاين‌رو اگر خيال آپلود يا دانلود کردن حجم بالايی از داده‌ها را داريد يا از امکان تنبيه شدن بابت فعاليت‌های آنلاين خود می‌هراسيد، وی.پی.ان راه‌حل مفيدی است.</p>

<p>آنها همچنین در پوشش هویت و فعالیت خود را آنلاین بسیار موثر هستند، بنابراین اگر شما به احتمال زیاد به آپلود بسیاری از داده ها و همچنین دانلود آن، و یا شما مجازات ترس برای اعمال شما، شبکه اختصاصی مجازی می تواند یک راه حل مفید است.</p>

<p>وجود طیف گسترده‌ای از گزينه‌های وی.پی.ان می‌تواند، دستکم در ابتدا، کمی دلهره‌آور باشد. هرشبکه وی.پی.ان از شيوه‌ها و پروتکل‌های فنی متفاوتی استفاده می‌کند، از اين‌رو وسعت برد و کارآيی هر وی.پی.ان می‌تواند با ديگری اختلافاتی داشته باشد. برای کسانی‌که درک زيادی از امور فنی ندارند، وی.پی.ان می‌تواند خسته کننده باشد. با این حال، سعی کنید بیش از حد وارد جزئیات نشويد. کمی تحقیقات و پرس‌وجو از چند دوست مورد اعتماد می‌تواند در باریک کردن گزينه‌ها کمک کند.</p>

<h3 class='subhed icon caution'>اشکالات احتمالی</h3>
<p>درارتباط با دور زدن، حکومت‌ها به روش‌های مختلفی سانسور می‌کنند يا فعاليت‌های کاربران را تحت نظر می‌گيرند.  بسته به سياست آنلاين کشورها، وی.پی.ان ممکن است کارآيی نداشته يا تاثير کمی داشته باشد.</p>

<p>به عنوان مثال، جمهوری اسلامی ایران، با به‌کارگيری فهرست بلندبالا و متغيری از آنچه که سد می‌کند، جلوی دسترسی به وب‌سایت‌های خاصی را در کشور می‌گيرد. به دلایل ذکر شده در بالا، برای عبور از چنين موانعی وی.پی.ان اغلب وسيله خوبی است. اما چین از نظام نظارتی کاملا متفاوتی استفاده می‌کند که ساير فيلترشکن‌ها برای عبور از ان مفیدتر است.</p>

<p>دو عامل دیگر می‌تواند مشکلات آفرين باشد. نخست، برای استفاده از وی.پی.ان شما باید فایل‌ها و برنامه‌های کاربردی آن را از شرکت وی.پی.ان خود دانلود کنيد. اگر حکومت ايران وبسايت شرکت مورد نظر شما را مسدود کرده باشد و شما نتوانید به آن دسترسی پيدا کنيد تا فايلهای مربوطه را دانلود کنيد، مشکل شما جدی است.</p>

<p>دوم، از آنجاکه ترافیک آنلاين شما بايد از سرورهای متعدد در مکان‌های ناشناخته‌ای دست‌به‌دست شود تا از شبکه وی.پی.ان عبور کند، وی.پی.ان گاهی اوقات می‌تواند به طور قابل‌توجهی سرعت فعالیت‌های آنلاین شما را کاهش دهد. ديده شده است که گاهی اوقات کاربران از روی کلافگی يا بی‌حوصلگی ارتباط وی.پی.ان خود کاملا می‌بندند و از آن خارج می‌شوند، ولی با اين‌کار دوباره خود را در معرض خزرات آنلاین قرار می‌دهند.</p>

<h3 class='subhed icon bottomLine'>در نهايت</h3>
<p>به طور کلی، وی‌پی.ان‌ها می‌توانند هم از امنیت هویت آنلاين شما محافظت کنند و هم در عبور از فيلترينگ اينترنت موثر باشند. با این حال، بسته به هزینه، دسترسی، پیچیدگی کشوری که در آن زندگی می‌کنید محدوديت های خاص خود را دارا است.</p>
