
<h3 class='subhed'>سايفون چيست؟</h3>

<p>سايفون، توسط مرکز آزادی اينترنت «آزمايشگاه شهروندی» وابسته به دانشگاه تورنتو، بوجود آمد و در سال ۲۰۰۴ منتشر شد و سپس امر مديريت و به‌روز کردن و نگاه‌داری آن، به شرکتی خصوصی واگذار شد.</p>

<p>سایفون، در طراحی سریع و آسان برای استفاده رمزگذاری و ضريب امنیتی شبيه به وی.پی.ان ارايه می‌کند. برخلاف ابزارهايی مانند «تور» و «پی.جی.پی»، سایفون بجای طرح يا شگردی خاص برای کمک به کاربران در دور زدن سانسور آنلاين دولتی، از انواع ترفندهای فنی (HTTPS،  SSH+،  پروکسی سرورهای و غيره) استفاده می‌کند.</p>

<p>اولین نسخه سایفون با درنظرداشت مقوله‌ای به‌نام «مدل اعتماد» ساخته شد، به اين مفهوم‌که کاربرانی که در کشورهای مختنق زندگی می‌کنند بايد توسط کاربرانی در کشورهای بدون سانسور اينترنتی، که به آنها اعتماد دارند، مانند دوست يا عضو خانواده، دعوت به استفاده از سايفون شوند. با این حال، در آخرین نسخه سایفون این شرط کنار گذاشته شده است.</p>

<p>تفاوت کلیدی دیگر بین سایفون و بسیاری از فيلترشکن‌های دیگر اين است که نياز به دانلود و نصب نرم‌افزارهای بزرگ ندارد. همه خدمات به‌صورت آنلاین در دسترس هستند، به‌این معنی که اگر ماموران حکومتی بخواهند کامپیوتری را برای نرم‌افزارهای ممنوع جستجو کنند، چیزی برای پیدا کردن وجود ندارد.</p>


<h3 class='subhed icon how'>سایفون چگونه کار می‌کند</h3>

<p>نسخه‌های پی‌درپی سایفون يکی از ديگری برای استفاده آسان‌تر شده است، و آخرین نسخه آن سايفون ۳ دارای سبک‌ترین رد پا است.</p>

<p>عملکرد سايفون اينگونه است. کاربری یک فایل اجرایی کوچک را دانلود می‌کند. می‌توان اين فايل کوچک را مستقيما بر روی کامپيوتر خود دانلود کرد يا بر روی يک فلش درايو ضبط و از کاربری به کاربر ديگر دست‌به‌دست منتقل کرد.  هنگامی که فایل باز می‌شود، يک پنجره اعلان امنيتی از شما می‌پرسد که آيا می‌خواهيد برنامه سايفون را اجرا کنيد؟ این مرحله تأییدی مهم است: از آنجائی‌که سایفون صرفا یک فایل اجرایی کوچک است و نه یک برنامه کامل، اطلاعیه‌های امنیتی ویندوز و گواهی امنیتی (چیزی شبیه به انگشت زدن دیجیتال که فایل را معتبر می‌کند) که با تائيد شما به صورت خودکار صادر می‌شود به اين منظور است‌که سيستم عامل از بدافزار نبودن آن اطمينان حاصل کند.</p>

<p>هنگامی‌که یک کاربر روی کلمه  RUN کلیک می‌کند، فایل اجرايی به طور خودکار پنجره کوچکی با آرم سايفون باز می‌کند. همراه با جعبه پنجره کوچک با آرم سایفون، چند جعبه گزینه، و يک فلش آبی دوّار باز می‌شود. اين جعبه پنجره کوچک با آرم سایفون را اصطلاحا «پنجره مشتری» می‌نامند. هر پنجره مشتری فهرست دايما به‌روز شونده‌ای از سرورهای تائيد شده‌ای را نشان می‌دهد که می‌تواند از طريق SSH+ يا SSH  يا  VPN به آن‌ها متصل شود.</p>

<p>سایفون سپس برای اتصال به شبکه رمزگذاری سایفون سعی خواهد کرد با يکی از سرورهای مورد تایید اتصال برقرار کند. فلش آبی در طول مدتی‌که پنجره مشتری سعی دارد به شبکه سايفون متصل شود به‌دور خود می‌چرخد. به‌محض آن‌که اتصال با يکی از سرورها رخ داد، فلش آبی تبديل به علامت «چک» سبز رنگی می‌شود. اين به معنی آن‌است‌که ترافيک اينترنتی کاربر اکنون از تونل مطمئن شبکه سايفون عبور داده می‌شود، که به کاربر اجازه می‌دهد به وبسايت‌های مسدود يا سانسور شده برود.</p>


<h3 class='subhed icon help'>سایفون چگونه به‌ کاربران کمک می‌کند؟</h3>

<p>سایفون یک ابزار دور زدن نسبتا قوی است که از حریم خصوصی نيز تا اندازه‌ای، اما نه به‌طور کامل، حفاظت به‌عمل می‌آورد. از آنجا که دسترسی کاربران به سايفون به‌صورت آنلاین است، می‌تواند برای دسترسی به وبسایت‌های ممنوعه با استفاده از کامپیوترهای عمومی، به عنوان مثال در کافه سایبری، بسیار مفید باشد. با فرض آن‌که ابزار جاسوسی برای دزديدن کلمات عبور از قبل بر روی کامپیوتر نصب نشده باشد، و تاريخچه (history ) مرورگر پس از استفاده از سايفون پاک شود، رديابی استفاده از سايفون بسيار دشوار خواهد بود.</p>

<p>فرض کنيم شما می‌خواهيد به وبسايت فيس‌بوک برويد ولی فيس‌بوک در ايران مسدود شده است. اگر حساب کاربری سايفون را داشته باشيد، می‌توانيد از راه شبکه سرورهای پروکسی مورد اطمينان به سرور عمده سايفون متصل شويد. در اين حالت، پنجره آبی‌رنگ سرور سايفون زير مرورگر استاندارد شما باز می‌شود که از طريق آن می‌توانيد به فيس‌بوک برويد. به‌ياد داشته باشيد که اين ارتباط مطمئن نيست، اما می‌توانيد با استفاده از آن به‌سادگی به وبسايت‌های ممنوعه يا مسدود شده برويد.</p>


<h3 class='subhed icon caution'>اشکالات ممکن</h3>

<p>دو اشکال عمده در استفاده از سايفون وجود دارد. اول، سایفون تنها بر روی سیستم‌های ویندوز و آندروید طراحی شده است، و برای اپل و یا دیگر سیستم‌های عامل قابل دسترس نيست.</p>

<p>دوم، سایفون به عنوان يک ابزار استتار هويت مانند «تور» طراحی نشده است.</p>

<p>همان‌طوری که گفته شد، داده‌هايی که از درون شبکه سایفون عبور داده می‌شوند رمزگذاری شده‌اند، اما مانعی برای جاسوسی و تشخیص اين‌که کامپیوتر شما به یک سرور سایفون شناخته شده متصل است وجود ندارد. علاوه‌براین، سرورهای سایفون، با اين‌که همواره در حال تغییرند، اما مصون از شنود يا  تجزیه و تحلیل عوامل خارج از شبکه سايفون نيستند، به‌این‌معنی‌که، با استفاده از ابزار پیشرفته، حکومت‌ها می‌توانند از هویت کاربران پرده برداشته و ترافیک رمزگذاری نشده‌ای که از سرورها عبور می‌کند را بخوانند.</p>

<p>برخی از تحلیل‌گران هشدار می‌دهند که شبکه سايفون از سوی کاربری که مخفی است در معرض آسيب پذيری قرار دارد.   در چنین حملاتی، یک کاربر مخفی می‌تواند اطلاعات امن در جریان بین دو نقطه در اينترنت را به‌دست آورده، و آن را طوری جلوه دهد که گويی اتصالی امن است، اما در واقعیت در جریان داده‌ها شنود انجام داده است.</p>


<h3 class='subhed icon bottomLine'>در نهايت</h3>

<p>سایفون ثابت کرده است که ابزاری نسبتا قوی برای فرار از سانسور حکومتی بوده، و به‌میزان کمتری از حریم خصوصی شما محافظت می‌کند. طرز کار با آن آسان بوده، و چون به‌عنوان یک «مشتری» اجرا می‌شود (به‌نوعی مانند یک برنامه مبتنی بر کلاود) اکان کمی وجود خواهد داشت که مقامات بتوانند شواهدی از استفاده از سایفون بر روی کامپيوتر شما پیدا کنند.</p>
