
<!-- فری‌گيت -->
<p class='intro'>فری‌گيت متکی به شبکه مداوما تغییر يابنده‌ای از سرورهای پروکسی خصوصی است که جهت کمک به کاربران در کشورهایی مانند چین، ايران و ویتنام برای عبور از سانسورها و فيلترهای حکومتی بوجود آمده است.</p>

<p class='intro'>فری‌گيت از جمله خدمات يک شرکت خصوصی به‌نام «داينميک اينترنت تکنولوژيز» (DIT) است که در سال ۲۰۰۲ با هدف ايجاد تسهيلاتی برای ارسال و دريافت ايميل در چين، از طريق يک شبکه پروکسی موسوم به «ديناوب» آغاز به‌کار کرد، اما امروز به يک فيلترشکن تمام عيار مبدل شده است.</p>

<p>کاربران می توانند با تايپ کردن آدرس يکی از سرورهای پروکسی DIT به‌سادگی به شبکه ديناوب دسترسی پيدا کنند. پس از اتصال، اين شبکه با استفاده از مجموعه‌ای از فرمول‌های به‌رمز درآمده و ابزار فيلترشکن به کاربران اجازه می‌دهد از سانسور حکومتی عبور کنند.</p>

<p>از آنجاکه حکومت‌های محدودکننده‌ای مانند چین سرورهای شرکت DIT را تحت نظارت گرفته و مسدود می‌کنند، ديناوب به شبکه‌ای از سايت‌های به‌سرعت متغير تکامل پيدا کرده است بطوری‌که حکومت‌ها به دشواری می‌توانند از آن جلوگيری کنند.</p>

<p>برای مدیریت این شبکه پروکسی‌های دايما درحال تغيير، شرکت DIT ابزار فری‌گيت را بوجود آورده است.</p>

<p>فری‌گيت در سال ۲۰۰۴ در ابتدا برای بازار چين، و بعضا با حمايت صدای آمريکا ‌راه اندازی شد که از سازمان‌های زير مجموعه هیات مدیره بنگاه سخن پراکنی آمریکا است. از آن زمان، فری‌گيت رشد بسياری کرده و به ابزار محبوبی در چندین کشور تبدیل شده است.</p>

<h3 class='subhed icon how'>فری‌گيت چگونه کار می‌کند</h3>

<p>فری‌گيت طوری طرح ريزی شد که تا حد ممکن برای کاربران شفاف و ساده باشد. اين برنامه کامپيوتری درواقع برنامه کاربردی کوچکی است‌که کاربران می‌توانند دانلود کرده و بر روی کامپيوتر يا دستگاه تلفن هوشمند خود نصب کنند.</p>

<p>پس از نصب، بدون نیاز به پیگیری سرورهای مسدود نشده، فری‌گيت به کاربران امکان دسترسی به ديناوب را می‌دهد. مهم است به‌ياد داشته باشيم که حتی باوجودی‌که فری‌گيت از يک رشته لايه‌های رمزی استفاده می‌کند، اين ضامن خصوصی بودن ارتباطات کاربران نيست.</p>

<p>درحالی‌که شرکت  DIT تخمین می‌زند فری‌گيت در دهها کشور مورد استفاده کاربران قرار دارد، در درجه اول اين برنامه برای کمک به کاربران در دور زدن سانسور دولتی مخصوصا در دو کشور چین و ایران طراحی و پشتیبانی شده است. کسانی که فراتر از فيلترينگ «فايروال بزرگ» چین و موانع گسترده جمهوری اسلامی، به گشت و گذار در اينترنت علاقه‌مند هستند، فری‌گيت می‌تواند به آن‌ها کمک کند.</p>

<p>به عنوان مثال، کاربری که در چین به موتور گوگل برای جستجوی کلمات «میدان تین‌آن‌من» متوسل می‌شود، نتايج کاملا متفاوتی دريافت خواهد کرد تا کاربری که در سوئد همان کلمات را در گوگل جستجو می‌کند. دلیل اين امر سياست فیلترينگ فراگیر چین و نظارتی است که بر آمدو شد ترافیک اينترنت اعمال می‌کند. حال یک کاربر چینی می‌تواند، با استفاده از شبکه سرورهای پروکسی فری‌گيت، هويت و مکان خود را پنهان و در نتیجه سد حکومتی را دور بزند.</p>

<h3 class='subhed icon caution'>اشکالات احتمالی</h3>

<p>در اين‌راه برخی مشکلات وجود دارد. اگر چه ديناوب از شبکه‌ به‌لحاظ فنی پیچیده‌ای متشکل از پروکسی‌های دائما تغییر يابنده و سایت‌های آینه استفاده می‌کند، اما هنوز از نظر اندازه و برد تاثيرش محدود است.</p>

<p>علاوه‌براین، بسیاری از سایت‌های فری‌گيت در تایوان یا ایالات متحده آمریکا قرار دارند، و مقامات چينی از مکان آنها با اطلاعند. از اين‌رو جلوگيری از دسترسی به فری‌گيت برای مقامات چینی آسان‌تر شده است.</p>

<p>چندين مورد پيش آمده است‌که کاربران با نيت دانلود نرم‌افزار فری‌گيت به سايت‌های جعلی هدايت شده و به‌جای فری‌گيت و پروتکل‌های فيلترشکن، بدافزارهای جاسوسی بر روی کامپيوتر خود نصب کرده‌اند. ازآنجا‌که نسخه‌های مختلفی از فری‌گيت انتشار یافته است، احتمالا کاربران در مورد اين‌که کدام نسخه اصلی است دچار ترديد شده‌ و نمی‌توانند به نرم‌افزاری که بر روی کامپيوتر خود نصب کرده‌اند کاملا اعتماد داشته باشند.</p>

<h3 class='subhed icon bottomLine'>در نهايت</h3>

<p>فری‌گيت به‌عنوان فيلترشکنی خوب و ابزار دور زدن سانسور در چین و ایران، و به‌میزان کمتری در دیگر کشورهای آسیایی و خاورمیانه، به‌خوبی مورد استقبال قرار گرفته و تثبيت شده است. اين نرم‌افزار رايگان بوده و استفاده از آن بسيار آسان است، و نشان داده شده است‌که می‌تواند از موانع حکومتی بر سر راه دسترسی به اينترنت آزاد به‌خوبی عبور کند. با این حال، به همان خوبی در پنهان کردن هویت کاربر موثر نیست و نباید برای محافظت از حریم خصوصی آنلاین کافی تلقی شود.</p>
