
<!-- <h3 class="subhed">دور زدن سانسور اينترنتی</h3> -->

<p class="intro">اينترنت در بهترین حالت می‌تواند کامپیوتر یا دستگاه تلفن همراه شما را به یک کتابخانه تحقیقاتی، یک سالن سینما، یک ابزار پزشکی یا وسیله‌ای تبديل کند تا شما با هر کس ديگری در روی زمين مرتبط شويد. اينترنت مکانی باز و امن برای شما است تا بتوانيد در آن‌جا خودتان باشيد و در آن رشد کنيد.</p>

<p class="intro">در بدترين حالت، اينترنت می‌‌تواند مکانی تاريک و تهديدآميز باشد، وسيله سرقت در دست دزدان، ابزار جاسوسی در دست شرکت‌ها، و چماقی سرکوبگر در خدمت حکومت‌ها.</p>

<p class="intro">به‌قول معروف، اينترنت آن‌چيزی است که ما از آن می‌سازيم.</p>

<br />

<p>اطلاعات بدوا و ماهيتا بايد آزادانه جریان داشته باشد، اما نیروهايی بسياری هستند که می‌خواهند جريان آزاد اطلاعات را سد و افرادی که قصد به مبارزه با آنها دارند را مجازات کنند.</p>

<p>بويژه پاره‌ای از حکومت‌ها سخت در تلاشند تا، از طریق فیلتر و مسدود کردن آنچه که مردم می توانند ببینند، ديواری به‌دور بخش‌هايی از اينترنت بکشند. پاره‌ای ديگر با سوءاستفاده از ماهيت باز اينترنت، به جاسوسی از افراد پرداخته و آنها را برای آنچه که آنلاین انجام می‌دهند مجازات می‌کنند.</p>

<p>همپای پيشرفت فن‌آوری‌های نظارت و سانسور، ابزارهای جدیدی نيز برای کامپیوتر و یا دستگاه‌های تلفن همراه ايجاد و تکامل می‌يابند که به محافظت از حریم خصوصی کاربران، از طریق شکستن سانسور اینترنتی، کمک می‌رسانند.</p>

<p>این پروژه را به‌عنوان مقدمه‌ای برای آشنايی با دور زدن اینترنت و استتار هويت درنظر بگيريد.</p>

<p>آنچه که در اين مختصر می‌يابيد بررسی اجمالی چالش‌های موجود و راه‌های مقابله با آن است، با تاکيد بر جنبه ابتدايی اين تلاش. اين راهنمای جامع، تغييرناپذير و کاملی نيست. درعوض، می‌توانيد آن‌را به‌عنوان يک راهنمای کلی درنظر بگيريد که چند مقوله کليدی و تعدادی ابزار را معرفی می‌کند که با استفاده از آن‌ها می‌توانيد اينترنت را نسبتا آزاد و ایمن نگاه دارید.</p>

<h3 class="subhed">به یاد داشته باشيد</h3>

<p><span class="label">دور زدن فيلترينگ، با پنهان کردن هويت کاربر همراه نيست:</span> شکستن فيلترحکومتی و يا دورزدن سد معابر اينترنتی به‌معنای ناشناس نگاه داشتن هويت کاربر در اينترنت نیست. برخی از ابزارهايی که ما در اينجا بر آن‌‌ها تمرکز می‌کنيم، به شما کمک می‌کند هم موانع سانسور را دور بزنيد و هم هویت شما را در اينترنت پنهان می‌سازد. برخی ديگر يکی از اين دو کار را انجام می‌دهد، اما نه هر دو را.</p>

<p><span class="label">هر کشوری، درست مثل هر کاربری، متفاوت است:</span> اگر شما خيال داريد مقدار زيادی اطلاعات را آپلود کنيد، يا در کشوری زندگی می‌کنيد که حکومت آن فعاليت‌‌های کاربران اينترنتی را زير نظر دارد، احتمالا نياز به استفاده از ابزاری با ضريب بالای استتار هويت داريد. اما اگر فقط می‌خواهيد بیشتر به وبسايت‌هايی سربزنيد که توسط حکومت مسدود شده‌اند، احتمالا فقط نياز به استفاده از فيلترشکنی داريد که سانسور را دور می‌زند. و به یاد داشته باشید، هیچ ابزاری وجود ندارد که همه‌کاری انجام دهد، پس شما نياز داريد با تست کردن و ممارست، ترکيبی از اين ابزار را برای حفاظت از حريم خصوصی خود و دور زدن موانع سانسور به خدمت بگيريد.</p>
            
<p><span class="label">گاهی اوقات مشکل حکومت نیست:</span> در اوایل دهه ۲۰۰۰ ميلادی، دو فعال ناراضی چینی، بنام‌های وانگ شيائونينگ و شی تائو، برای فعالیت‌های آنلاین در چین زندانی شدند. آن‌چه که در آن زمان به‌طور گسترده‌ای ناشناخته بود، و بعدا معلوم شد، اين بود که شرکت یاهو سوابق ایمیلی اين دو نفر را به‌طور داوطلبانه به مقامات چینی داده بود، که توسط دادستان در محاکمه عليه هر دو نفر استفاده شد. مهم به یاد داشتن اين موضوع است که شرکت‌های خصوصی اداره‌کننده وبسایت‌ها و شرکت‌های ارايه کننده خدمات اينترنتی دايما در حال جمع‌آوری انواع داده‌ها درباره شما هستند - گاهی اوقات برای منافع خود، و گاهی اوقات بر حسب دستور يک حکومت.</p>

<div class="img_fs_cap right">
	<div><img src="<%= pathPrefixImage %>images/comic_PGP_6.png" alt="" /></div>
	<p class="caption"></p>
</div>

<p><span class="label">برخی ابزارها از بقيه بهتر است:</span> در سال ۱۳۸۸ (۲۰۰۹)، در جريان آن‌چه برخی آن را «انقلاب توئيتر» ناميدند، ایرانیان در اعتراض به نتايج انتخابات رياست جمهوری به خیابانها ريخته و از وبسایت‌ها و شبکه‌های اجتماعی، و ساير ابزارهای آنلاين، برای سازماندهی استفاده کردند. اما بالاخره حکومت جلوی اين فرايند را گرفت. سپس سروکله ابزار جدیدی پيدا شد به‌نام «هی‌استک» که قرار بود به ایرانیان درزمينه عبور از موانع حکومتی بر اينترنت کمک کند. با این حال، به دلیل نقص در برنامه‌نویسی، هی‌استک همچنين به‌احتمال زیاد بسیاری از کاربران را در معرض خطر شناسايی توسط مقامات حکومتی قرار داد، که پس از کشف اين نقص، تعطیل شد. درسی که بايد از اين واقعه بگيريم اين است که هر ابزار جدیدی لزوما بهتر نیست.</p>

<p><span class="label">رفتار سالم را در اينترنت تمرين کنيد:</span> درست همان‌گونه که انسان در زندگی شخصی خود محتاج نظم و انضباط است، آنلاین هم بايد حتما برخی روش‌های اساسی را رعايت کند. سعی کنید حتی‌المقدور از روترهای «وای‌فای» عمومی استفاده نکنيد، چون هر کسی به‌راحتی می‌تواند فعاليت آنلاين شما را نظارت کرده و اطلاعات شخصی شما را سرقت کند. اگر از مرورگر برای رفتن به اينترنت استفاده می‌کنيد، سعی کنید حتی‌المقدور از رمزگذاری HTTPS استفاده کنيد. ایمیل افرادی را که نمی‌شناسيد باز نکنيد. اگر فايل ضميمه‌ای از طريق ايميل برای شما فرستاده شد، بويژه اگر چنين فايلی را درخواست نکرده بوديد و نمی‌دانيد چيست يا فرستنده‌اش را نمی‌شناسيد، از باز کردن آن جدا خودداری کنيد. سوابق مرورگر (history) و «کوکی»های مرورگرتان را زودبه‌زود پاک کنيد. لازم نیست از رفتن به اينترنت و فعاليت‌های آنلاين هراس داشته باشيد، اما کمی شک و تردید و با فکر عمل کردن کمک زيادی به محفوظ ماندن هويت و اطلاعاتتان می‌کند.</p>
            
<p><span class="label">هیچ چیز کامل نيست:</span> اگر بتوان نکته‌ای را قاطعانه و با اطمينان کامل گفت، اين است‌که هیچ‌گونه دسترسی آزاد به اينترنت و تضمین ۱۰۰ درصد برای پنهان ماندن هويت وجود ندارد. چنانچه حکومتی بخواهد و اراده کند می‌تواند بالاخره راهی بيابد و همه فعاليت‌های شما را کنترل کند.</p>
