
<p class='intro'>Работа приложения Freegate осуществляется благодаря постоянным изменениям в сети частных прокси-серверов, что позволяет пользователям в таких странах как Китай, Вьетнам, Сирия и Иран обходить ограничения при пользовании Интернетом, введенные властями.</p>

<p class='intro'>Приложение Freegate функционирует на основе постоянно меняющейся сети частных прокси-серверов, что позволяет пользователям в таких странах как Китай и Вьетнам обходить введенные властями ограничения в Интернете.</p>

<p>Freegate был разработан частной фирмой Dynamic Internet Technologies (DIT). Компания была основана в 2001 году – первоначально в целях защиты электронной почты в Китае на основе частной прокси-сети Dynaweb. Сегодня DIT разработала целый ряд инструментов, позволяющих обойти ограничения в Интернете.</p>

<p>Любой пользователь может получить доступ к Dynaweb, переадресовав URL своего браузера на один из  прокси-серверов DIT. После соединения сеть Dynaweb начнет применять шифрование и иные инструменты для обхода цензуры.</p>

<p>Из-за того, что власти Китая отслеживали серверы DIT и блокировали их, Dynaweb со временем превратилась в постоянно меняющуюся сеть «зеркальных сайтов», блокирование которых серьезно затруднено.</p>

<p>Для оптимизации работы сети Dynaweb компания DIT в 2004-м году создала приложение Freegate. Freegate был разработан совместно с Советом управляющих вещанием – организацией, частью которой является «Голос Америки».</p>

<p>Первоначально Freegate предназначался для пользователей в Китае, однако со временем это приложение стало популярным инструментом в нескольких странах.</p>

<h3 class='subhed icon how'>Как работает Freegate</h3>

<p>Разработчики Freegate стремились создать простое и легкое в использовании приложение, которое можно загрузить на компьютер или мобильное устройство.</p>

<p>Установив Freegate, пользователь получает доступ к сети Dynaweb – без необходимости постоянного поиска незаблокированных серверов. Стоит отметить, что даже при наличии нескольких уровней шифрования гарантировать полную защиту анонимности невозможно.</p>

<p>Хотя приложение Freegate популярно среди пользователей нескольких стран, первоначально оно разрабатывалось для обхода государственной цензуры в Китае и Иране, где действуют ограничения и осуществляется агрессивный мониторинг входящего и исходящего интернет-трафика.</p>

<p>Так, например, поиск информации о событиях на площади Тяньаньмэнь в Пекине даст совершенно разные результаты в самом Китае, и, например, в Швеции. Freegate дает возможность пользователю в Китае «замаскироваться» и сохранить в тайне свое местонахождение, что позволит обойти файерволы.</p>

<h3 class='subhed icon caution'>Возможные минусы пользования Dynaweb</h3>

<p>Несмотря на то, что Dynaweb использует сложную, постоянно меняющуюся сеть прокси-серверов и зеркальных сайтов, ее масштаб ограничен.</p>

<p>Большая часть этих сайтов находится в США или Тайване, что облегчает их блокировку властями Китая, поскольку им известны адреса этих сайтов.</p>

<p>Также стало известно о нескольких случаях, когда пользователи загружали поддельные версии Freegate, которые устанавливали программы слежения за деятельностью пользователя, а не протоколы шифрования. Поскольку на сегодняшний день существует несколько версий приложения Freegate, проверка их подлинности может быть затруднительна для некоторых пользователей.</p>

<h3 class='subhed icon bottomLine'>The bottom line</h3>

<p>Приложение Freegate зарекомендовало себя как хороший инструмент для обхода ограничений и интернет-фильтров в Китае и Иране, и в меньшей степени – в других странах Азии и на Ближнем Востоке.</p>

<p>Freegate – бесплатное, легкое в использовании и эффективное приложение. Тем не менее, оно не столь эффективно в сокрытии данных о пользователе и не может рассматриваться как достаточный инструмент для защиты личных данных при работе он-лайн.</p>
