
<p class='intro'>PGP был разработан в начале 90-х инженером Филом Зиммерманном (<a href='http://en.wikipedia.org/wiki/Phil_Zimmermann' target='_blank'>Phil Zimmermann</a>), и с тех пор несколько раз обновлялась и дополнялась. Сегодня это – мощный криптографический инструмент.</p>

<p>Шифрование онлайн – это процесс перевода текста сообщения в секретный код, вскрыть которой можно только с помощью электронного «ключа». Для посторонних лиц это сообщение будет выглядеть непонятным набором символов, для того чтобы понять которые необходимо будет взломать код. Чем сложнее шифр, тем сложнее его взломать.</p>

<p>PGP позволяет шифровать электронную переписку, текст, документы и даже память целого компьютера благодаря комбинации очень мощных инструментов кодирования. Завершив шифрование PGP, пользователь может быть относительно уверен в том, что почти никто – даже самый талантливый программист – не сможет взломать код и следить за обменом информацией.</p>


<h3 class='subhed icon how'>Как работает PGP</h3>

<p>Первое, что необходимо сделать новому пользователю PGP – это сгенерировать его открытый и индивидуальные ключи, представляющие собой длинные нити кода, на первый взгляд представляющие несвязный набор символов. Его длина может варьироваться в зависимости от уровня сложности кода, необходимого пользователю. Важнейшей вещью является то, что открытый и индивидуальный ключи должны кардинально отличаться.</p>

<p>Обмен открытыми ключами среди пользователей PGP осуществляется по мере необходимости. Индивидуальные ключи должны оставаться в секрете, и предназначаются только для одного адресата. Они также защищаются паролем, так как в случае потери такого ключа зашифрованный им документ будет утрачен.</p>

<p>После того, как электронное сообщение или документ и общий ключ для получателя готовы, он должен «расписаться» или зашифровать их текст, использовав так называемую «PGP passphrase» или «PGP кодовую фразу» и переслать обратно данные их адресату.</p>

<p>После того, как адресат получает эту информацию, он сможет расшифровать ее, сняв этот электронный кодовый «замок». В обратном направлении этот процесс работает точно также. Процесс похож на открытие почтовых ящиков, ключи от которых есть только у адресата и получателя.</p>

<p>Несмотря на продолжающиеся дебаты среди криптологов о том, можно ли рассматривать цифровую систему кодирования как действительно «непробиваемую», в целом среди программистов установился консенсус о том, что PGP предоставляет один из лучших вариантов гарантий того, что частная переписка останется частной.</p>

<p>При применении самых сложных кодов PGP взломать такой документ без помощи суперкомпьютера и целой команды хакеров почти невозможно.</p>

<p>Если вы располагаете данными, которые вам необходимо отправить онлайн так, чтобы никто кроме адресата не мог увидеть, PGP дает вам необходимый уровень безопасности.</p>

<h3 class='subhed icon caution'>Минусы PGP</h3>

<p>Несмотря на высокий уровень секретности информации, пересылаемой с использованием PGP, гарантий анонимности сторон, ведущих диалог, нет. PGP обеспечивает только защиту информации, который обмениваются стороны, что, в свою очередь, означает, что власти, не имея возможности читать эти сообщения, будут видеть, что идет обмен зашифрованной информацией.</p>

<p>PGP – инструмент непростой. Даже очень опытные пользователи должны подробно продумать шаги для шифрования и снятия кода. Новичкам стоит дважды подумать, прежде чем начать применять PGP для своих целей.</p>

<h3 class='subhed icon bottomLine'>Итоги</h3>

<p>Если вам необходимо переслать или хранить документы в полной безопасности, и вы готовы тратить время и прилагать усилия для этого, то PGP – для вас. Если вам необходимо обходить цензуру в Интернете, защищать свои личные данные от распространения, или если вы не хотите вникать в тонкости сложностей кодирования сообщений, PGP не будет для вас полезным инструментом.</p>
