
<h3 class='subhed'>Что такое Psiphon</h3>

<p>Psiphon был создан в центре Интернет-свободы «Citizen Lab» в канадском Университете Торонто в 2004-м году. Позже приложение было передано в ведение группы менеджеров, куда также вошел и Совет управляющих вещанием США – структура, в которую входит «Голос Америки».</p>

<p>Первые версии Psiphon предполагали использования сети «доверенных лиц» – стать частью этой сети можно было только по приглашению друга, члена семьи или другого человека, уже пользующегося системой и живущего в стране, где цензуры в Интернете нет. Позжке, в последней разработке Psiphon, это требование было снято.</p>

<p>Одна из отличительных особенностей Psiphon – это отсутствие необходимости загружать большие программы по его установке. Все доступно он-лайн, что является значительным преимуществом для пользователей, обеспокоенных тем, что их компьютеры могу проверить на предмет наличия на них запрещенных программ.</p>

<h3 class='subhed icon how'>Как работает Psiphon</h3>

<p>Каждая новая версия Psiphon становится все проще, и <a href='http://www.psiphon3.net/en/download.html' target='_blank'>Psiphon3</a> – одна из самых легких по объему и незаметных мини-программ.</p>

<p>Psiphon работает следующим образом: пользователь загружает маленький исполняемый файл – либо на компьютер, либо на карту памяти, которую можно носить с собой или передать другому. При открытии файла, программа безопасности Windows задаст вопрос «следует ли выполнить задачу по запуску Psiphon?». Это важный этап проверки, поскольку Psiphon – очень маленький исполняемый файл, а не целая программа, Windows автоматически создаст сертификат, подтверждающий, что это подлинная программа, а не вирус.</p>

<p>После того, как пользователь запустит программу, на экране появляется небольшое окошечко с логотипом Psiphon, несколько окон опций и голубая вращающаяся стрелка. Каждое окно будет содержать постоянно обновляемый список серверов, готовых для соединения через SSH+, SSH или VPN.</p>

<p>Psiphon затем соединится с одним из них по зашифрованному каналу сети Psiphon. Пока устанавливается соединение, голубая стрелка продолжит вращаться. Завершив соединение, она станет зеленой – теперь интернет-трафик поступает по сети Psiphon, что дает доступ к заблокированным сайтам.</p>

<h3 class='subhed icon help'>Для кого подходит Psiphon?</h3>

<p>Psiphon – довольно мощный инструмент для обхода цензуры, он также предоставляет частичную защиту ваших данных. Поскольку доступ к Psiphon осуществляется он-лайн, Psiphon является удобным средством доступа к заблокированным сайтам из любого общественного места, скажем, интернет-кафе. Если предположить, что на такие компьютеры не установлены программы записи вашей деятельности, как, например, ваша работа с клавиатурой, и после сеанса в сети вы удалите историю браузера, то обнаружить, что вы пользовались Psiphon, очень трудно.</p>

<p>Допустим, в вашей стране запрещен Facebook. Получив доступ к Psiphon, вы можете войти в систему через сеть прокси-серверов, которые, в свою очередь, соединят вас с главным сервером Psiphon. Узнать о состоявшемся соединении вы сможете благодаря окошку, которого появится под стандартным адресным окном вашего браузера. Как и в любом другом случае, абсолютных гарантий доступа к запрещенному контенту нет, однако Psiphon может значительно облегчить доступ к заблокированным сайтам.</p>

<h3 class='subhed icon caution'>Возможные минусы работы с Psiphon</h3>

<p>Их два – Psiphon разрабатывался только для работы с Windows и Android, поэтому пользовали Apple и других операционных систем не имеют к нему доступа. Второй недостаток – в отличие от таких инструментов анонимности, как Tor, Psiphon не гарантирует защиту ваших личных данных.</p>

<p>Несмотря на то, что трафик внути сети Psiphon шифруется, информацию о том, что ваш компьютер подключен к серверам Psiphon, получить можно. В дополнение к этому, несмотря на то, что список серверов Psiphon постоянно меняется, защиты от анализа трафика посторонними лицами нет. Это означает, что при наличии достаточных инструментов власти могут попытаться определить личность пользователя Psiphon и содержание его трафика.</p>

<p>Некоторые аналитики отмечают, что дизайн Psiphon может делать его уязвимым для атак с применением технологии «незаконный посредник» – когда пользователь может получить доступ к зашифрованному потоку информации между двумя точками в Интернете, поддерживая иллюзию безопасного соединения, и перехватывать данные.</p>

<h3 class='subhed icon bottomLine'>Подведем итоги</h3>

<p>Psiphon зарекомендовал себя как достаточно успешный инструмент для обхода цензуры властей, и – в меньшей степени – для защиты ваших личных данных. Psiphon легок в использовании, и вероятность того, что власти смогут обнаружить доказательства того, что вы его используете, мала.</p>
