
<p class='intro'>TOR – одно из самых старых и популярных приложений, созданных для того, чтобы обойти цензуру в Интернете. Многие пользователи считают TOR одним из самых надежных и эффективных инструментов для защиты личных данных в сети, который также позволяет получать доступ к заблокированному контенту. Далее – подробнее о том, как использовать это приложение и какую пользу оно может принести конкретно вам при работе онлайн.</p>

<h3 class='subhed'>Что такое TOR?</h3>

<p>TOR (аббревиатура англ. «The Onion Router» или «многослойного раутера») – использует сеть частных компьютеров, называемых еще узлами, которые пересылают и шифруют интернет-трафик. В целом эта система достаточно сложная и запутанная, поэтому обеспечивает хорошую защиту от слежения со стороны властей.</p>

<p>TOR начали разрабатывать еще в 90-х годах. Основой разработок стали исследования федерального агенства DARPA. Первоначально исследования проводились на средства управления научно-исследовательских работ ВМС США. Позднее в число спонсоров разработок вошел Совет управляющих вещанием США, куда входит и «Голос Америки».</p>

<p>С момента запуска TOR в 2002-м году вышло его несколько версий, каждая последующая из которых сужала возможные лазейки для слежки за пользователями. Тысячи программистов-волонтеров по всему миру создали основу сети TOR – частную рассеянную паутину, которая «взбалтывает» данные и защищает от слежения и блокирования.</p>

<h3 class='subhed icon how'>Как работает TOR</h3>

<p>Обычно при работе в Интернете данные передаются от вашего компьютера к цели (сайту или результатам поиска) по глобальной сети из общественных серверов. По своей структуре «всемирная паутина» – открытое, свободное пространство, позволяющее данным свободно передвигаться от одного компьютера к другому. Тем не менее, такой дизайн имеет ряд недостатков в части обеспечения безопасности.</p>

<p>Для сравнения, cеть TOR с первого же шага при работе в ней пропускает трафик исключительно через ее узлы – входа, передачи и выхода – каждый из которых обладает собственным шифром. Благодаря такой конфигурации ни один из компьютеров сети TOR не имеет данных об источнике запроса и его конечном направлении и даже шифрах сети, что позволят защитить информацию о пользователях.</p>

<p>Анонимная передача данных от одного узла к другому в подсети TOR зарекомендовала себя как надежный инструмент защиты, взломать который очень трудно. Передача данных через TOR подобна игре в кошки-мышки, при этом у мышки – тройной уровень защиты. Задача кота в этом случае становится очень сложной.</p>

<h3 class='subhed icon help'>Плюсы работы в сети TOR</h3>

<p>TOR – эффективный инструмент навигации в несвободном Интернете, позволяющий обходить блокировку контента и файерволы, однако его главное достоинство – защита анонимности пользователя. В случае, если пользователь обеспокоен возможным мониторингом его компьютера со стороны властей, он может загрузить TOR на домашний компьютер и продолжить пользоваться Интернетом, сохраняя анонимность. Тот факт, что большое число волонтеров-энтузиастов TOR поддерживают сеть серверов по всему миру, делает блокировку TOR затруднительно. Это дает возможность жителям тех стран, где, к примеру, запрещены Facebook или Google продолжать ими пользоваться.</p>

<h3 class='subhed icon caution'>Возможные минусы TOR</h3>

<p>TOR – эффективный инструмент, однако он не гарантирует стопроцентную защиту анонимности и обхода цензуры. В целом сеть TOR проявила иммунитет даже к агрессивным попыткам взлома, однако некоторые хакеры могут воспользоваться пробелами в защите сети – как с целью нападения на пользователя, так и с целью атаковать конкретный сайт.</p>

<p>Популярные браузеры Firefox, Chrome, Internet Explorer и другие имеют недостатки в системах защиты, которыми могут воспользоваться заинтересованные лица для того, чтобы получить личную информацию пользователей. Именно поэтому, вместо традиционных, настоятельно рекомедуется использовать специальный браузер, уже встроенный в TOR.</p>

<p>Браузер TOR также блокирует такие плагины как Java и Flash, которые не зашифрованы и могут стать лазейкой для осуществления слежения в Интернете.</p>

<p>Компьютеры пользователей также могут быть инфицированы вирусами и различными вредоносными программами – это одна из предполагаемых тактик, использованных Агенством национальной безопасности США (NSA) для взлома анонимности пользователей TOR. По этой причине TOR – значительно менее безопасный инструмент при работе в интернет-кафе, где на компьютерах уже может быть установлены программы слежения.</p>

<p>Также не стоит забывать, что в то время, как информация о вас может быть защищена от посторонних глаз в Интернете, ваша конечная цель защищенной не является. Как только данные покидают пределы сети TOR, они вновь попадают в открытый доступ, становясь уязвимыми, что, в свою очередь, означает, что сайт, доступ к котому вы хотите получить, может быть заблокирован и отслеживаться, и если вы направляется какую-либо информацию третьим лицам, они также попадут в поле зрения лиц, ведущих мониторинг.</p>

<p>Хороший вариант решения этой проблемы – использование TOR вместе с VPN – безопасной сетью – на выходе. Это защитит вас, и доставит данные к конечной цели.</p>

<h3 class='subhed icon bottomLine'>Подведем итоги</h3>

<p>Если вы заинтересованы в защите личной информации и эффективном инструменте для обхода цензуры, TOR – отличный вариант.</p>

<p>Тем не менее, TOR – сложный и относительно медленный инструмент для работы в сети, поэтому тем, кому в этом процессе не хватает терпения, могут посчитать TOR не слишком подходящей программой.</p>

<p>Не стоит при этом забывать об одном: как следует из документов, «слитых» Эдвардом Сноуденом, аналитики Агенства национальной безопасности США назвали TOR «королем высокой безопасности, его Величеством Анонимностью в Интернете», добавив, что «что пока на этот трон других претендентов нет».</p>
