
<h3 class='subhed'>Что такое UltraSurf?</h3>

<p>UltraSurf был разработан в 2002-м году группой китайских программистов, живущих в США.</p>

<p>Как и приложение Freegate, первоначально UltraSurf был инструментом обхода цензуры именно для пользователей в Китае. UltraSurf был выпущен в момент, когда «Великая китайская стена в Интернете» была задействована почти на полную мощность. По данным компании-разработчика  UltraReach Internet Corporation, от трех до пяти миллионов пользователей из 180 стран ежемесячно пользуются UltraSurf. Совет международного вещания США, куда входит «Голос Америки», оказывает частичную финансовую поддержку UltraSurf.</p>

<p>UltraSurf  – бесплатное приложение. Оно небольшое по объему, и после загрузки на карту памяти UltraSurf можно пользоваться на самых разных компьютерах. Стоит отметить, что UltraSurf был разработан в первую очередь как инструмент обхода цензуры, а не для мощной защиты личных данных пользователя.</p>

<h3 class='subhed icon how'>Как работает UltraSurf</h3>

<p>Как и приложения Psiphon и Freegate, работа UltraSurf построена на основе постоянно меняющейся сети прокси-серверов и «зеркальных» сайтов. При этом компания UltraReach не приглашает разработчиков-волонтеров к сотрудничеству над улучшением UltraReach и не разглашает подробности конфигурации этого продукта.</p>

<p>UltraSurf – легкое в использовании приложение. Оно предоставляет возможность получать доступ к блокируемым сайтам и защищает ваши данные, пряча ваш IP-адрес.</p>

<p>UltraSurf автоматически удалит историю браузера после завершения сессии.</p>

<p>UltraSurf рекомендован к использованию только с браузерами Firefox или IE Explorer.</p>

<h3 class='subhed icon help'>Плюсы работы UltraSurf</h3>

<p>UltraSurf «упакован» в файл формата .zip, что позволяет ему работать без установки на ваш компьютер, что, в свою очередь, помогает скрывать факт его использования и переносить его на носителе.</p>

<p>UltraSurf открывает защищенное окно браузера. IP-адрес пользователя при этом скрывается, и трафик такого пользователя будет менее подвержен блокировке. Если пользователь выберет работу в новом окне браузера без UltraSurf, то трафик через такой браузер не будет защищен от мониторинга.</p>

<p>После завершения работы в UltraSurf, история этой сессии будет автоматически удалена, и если он находится на карте памяти, то достаточно просто вытащить эту карту из компьютера и никаких следов вашей деятельности в рамках сессии не останется.</p>

<h3 class='subhed icon caution'>Возможные минусы работы с UltraSurf</h3>

<p>Некоторые программисты несколько обеспокоены тем фактом, что компания-разработчик UltraSurf не разглашает деталей устройства своего продукта. Это не означает, что использование UltraSurf не является безопасным процессом, однако сделать выводы о плюсах и минусах UltraSurf намного сложнее.</p>

<h3 class='subhed icon bottomLine'>Подведем итоги</h3>

<p>Если вы живете в Китае и пользуетесь услугами интернет-кафе, UltraSurf может стать удобным и простым решением проблемы доступа к контенту. UltraSurf можно загрузить на карту памяти.</p>

<p>Дизайн UltraSurf предполагает минимум информации о вашей активности он-лайн. UltraSurf – бесплатное приложение, не требующее особых навыков работы с компьютером, которое уже зарекомендовало себя как неплохой инструмент обхода цензуры в Интернете и защиты личных данных.</p>
