
<h3 class='subhed'>Что такое VPN?</h3>

<p>VPN (аббревиатура англ. «Virtual Private Network») – это «виртуальная частная сеть», которую пользователь создает в Интернете.</p>

<p>Первоначально эта система была разработана для сотрудников компаний, которым был необходим доступ к данным их компаний при удаленной работе.</p>

<p>VPN позволяет пользователю отсылать и получать данные по специальному «туннелю» в Интернете.</p>

<p>При работе в VPN, ваш компьютер и целевая сеть распознают друг друга после ряда проверок. Далее VPN зашифрует вашу информацию (как исходящую, так и входящую) таким образом, что распознать эти данные сможет только ваш компьютер и ваша сеть. Для остальных лиц эта информация будет набором символов.</p>

<p>Существует множество сервисов VPN – PureVPN, AirVPN, VPN4All  и других, стоимость которых может быть самой разной – от бесплатных услуг до 80 и более долларов в год.</p>

<h3 class='subhed icon how'>Как работает VPN</h3>

<p>Помимо безопасного канала связи, VPN предоставляет возможность защищать свои личные данные и обходить цензуру в Интернете.</p>

<p>После настройки VPN сервиса, ваш компьютер установит защищенное соединение с конкретным набором VPN-серверов, входящих в отдельную сеть.</p>

<p>Ваш конфиденциальный запрос доступа к заблокированному сайту, предположим, YouTube, будет пересылаться на VPN-серверы, которые перенаправят этот запрос к YouTube. YouTube «вернет» данные VPN-серверу, который перешлет их вам по защищенному каналу. Таким образом, вы пользуетесь «сетью в сети», не разглашая ваши личные данные и местонахождение.</p>

<p>Есть и проблема: если властям известно, что определенный сервер используется компанией, предоставляющей услуги пользования VPN, для обхода блокировки, то власти могут просто заблокировать и сам сайт. Именно по этой причине компании, предоставляющие услуги VPN, используют целую сеть серверов и раутеров, чтобы защитить себя.</p>

<h3 class='subhed icon help'>Плюсы работы с VPN</h3>

<p>Благодаря децентрализованной структуре Интернета, VPN нелегко заблокировать из-за сложностей  идентификации этих серверов. VPN также является мощным инструментом защиты личных данных и деятельности в сети, поэтому если вам необходимо загружать большие объемы данных и скачивать их на свой компьютер или, если вы опасаетесь возможного наказания за свою деятельность, VPN может стать одним из удобных решений.</p>

<p>Широкий выбор VPN может показаться проблематичным на первый взгляд. Существует множество методов работы и технических протоколов, и одна сеть VPN может отличаться от другой своим масштабом. Для пользователей-новичков выбор подходящей VPN может показаться сложной задачей, однако консультация техподдержки или друзей и поиск информации по этой теме в Интернете могут помочь решить эту задачу.</p>

<h3 class='subhed icon caution'>Возможные минусы</h3>

<p>Что касается обхода цензуры в Интернете и защиты своих данных от мониторинга властей, эффективность VPN зависит целого ряда факторов.</p>

<p>Иран, например, блокирует доступ к конкретным сайтам, пользуясь большим и постоянно меняющимся арсеналом блоков. По вышеназванным причинам, это делает VPN удобным инструментом для обхода подобных запретов. Однако Китай использует другие методы мониторинга, что, соответственно, делает более эффективными другие инструменты.</p>

<p>Два фактора потенциально могут стать источником проблем.</p>

<p>Первый: для начала работы в VPN вам будет необходимо загрузить файлы и приложения от компании-провайдера. Если вы не можете связаться с этой компанией по Интернету, или власти страны мониторят вашу загрузку файлов, это может осложнить ситуацию.</p>

<p>Второй: из-за сложности перенаправления трафика скорость передачи данных при работе с VPN иногда значительно снижается. Бывали случаи, когда потерявшие терпение пользователи просто выключали эту услугу, и, сделав это, они могли снова поставить себя под угрозу слежки.</p>

<h3 class='subhed icon bottomLine'>Подведем итоги</h3>

<p>В целом, VPN может стать эффективным инструментом как для защиты вашей личной информации, так и для обхода цензуры в Интернете. VPN могут иметь ограничения в работе и масштабе, по стоимости, доступу, сложности и особенностям внутренней политики страны, в которой вы живете.</p>
