
<p class='intro'><span class='firstcharacter'>П</span>При помощи Интернета вы легко можете превратить ваш компьютер или мобильное устройство в библиотеку, кинотеатр, прибор для медицинской диагностики или средство связи с практически любым жителем планеты. Интернет может быть открытым и безопасным пространством, в котором комфортно как оставаться самим собой, так и развиваться, познавая новое. Но это в лучшем случае.</p>

<p class='intro'>А вот в худшем случае Интернет может стать опасным и угрожающим местом, где вас могут обокрасть мошенники, где корпорации  пытаются все о вас выведать, а власти – воспрепятствовать распространению нежелательной информации. Иными словами, каким быть Интернету – зависит от нас.</p>

<br/>

<p>Информационные потоки по своей природе стремятся к свободному перемещению, однако существует много сил, стремящихся заблокировать их и наказать тех пользователей, кто противостоит подобным намерениям.</p>

<p>В частности,  некоторые правительства прилагают огромные усилия, чтобы закрыть доступ к определенным сегментам Интернета путем фильтрования и блокирования контента. Есть и такие правительства, которые пользуются «всемирной паутиной» для слежки за пользователями и преследуют их за выражение мнения онлайн.</p>

<p>По мере совершенствования технологий слежки и цензуры развиваются и новые инструменты, помогающие защищать ваши личные данные и преодолевать цензурные барьеры в Интернете.</p>

<p>Полезным навыкам, необходимым для этого, и посвящается этот проект.</p>

<p>Предлагаем вашему вниманию общий обзор существующих проблем навигации в несвободном Интернете и защиты вашей анонимности.  Стоит подчеркнуть – речь идет об общей, базовой  информации, а не полном «своде железных правил». Итак, давайте обсудим некоторые основные принципы  и инструменты, которые могут помочь сохранить Интернет как относительно свободное и безопасное пространство.</p>

<h3 class='subhed'>Важно помнить:</h3>

<p><span class='label'>Обход цензуры в Интернете не равнозначен анонимности:</span> возможность пробиться  сквозь межсетевой экран – файервол – не гарантирует вам сохранения анонимности онлайн. Некоторые инструменты, о которых пойдет речь, позволяют как обходить цензуру, так и защищать персональные данные. Есть и такие, которые делают либо одно, либо другое, но не могут делать это одновременно.</p>

<p>Каждая страна, как и каждый пользователь – уникальны: если вы планируете загружать много файлов, живя в государстве, где правительство активно следит за поведением пользователей в Интернете, то вам, вероятно, стоит выбрать инструмент, который нацелен именно на защиту ваших данных. Если вы хотите просто получить доступ к заблокированным сайтам, вам вполне хватит инструментов исключительно для этой цели. Не стоит забывать – ни один из инструментов не является универсальным, поэтому стоит подобрать такую их комбинацию, которая отвечает вашим потребностям в защите данных и преодолении цензуры.</p>

<p><span class='label'>Источником проблем при пользовании Интернетом могут быть не только правительства –</span> в начале 2000-х китайские диссиденты Ван Сяонин и Ши Тао получили тюремные сроки за их деятельность онлайн. Причиной этого стало то, что компания Yahoo добровольно передала китайским властям их электронную переписку, которую впоследствии и использовали прокуроры. Поэтому важно помнить, что частные корпорации, предоставляющие почтовый сервис, и Интернет-провайдеры постоянно накапливают информацию о нас  в коммерческих целях, но иногда они делают это под давлением властей.</p>

<p><span class='label'>Некоторые инструменты более эффективны&elip;</span> В 2009-м году в Иране началась так называемая «Твиттер-революция», когда иранцы вышли на улицы, протестуя против фальсификации результатов выборов. Для организации акций протеста они активно использовали социальные сети – до тех пор, пока власти не начали подавлять эту деятельность. Тогда в Иране возникло приложение Haystack, заявленная цель которого была  – помочь иранцам обходить блокирование властями некоторых сегментов Интернета. Однако из-за ошибки в программировании, приложение Haystack, прежде чем его закрыли, позволило властям Ирана заполучить данные о многих из тех, кто принимал участие в протестах. Урок: новое – не обязательно значит лучшее.</p>

<div class="img_fs_cap right">
	<div><img src="<%= pathPrefixImage %>images/comic_PGP_6.png" alt="" /></div>
	<p class="caption"></p>
</div>

<p><span class='label'>Соблюдайте правила «онлайн-гигиены»:</span> дисциплина важна как и в повседневной жизни, так и при пребывании в Интернет-пространстве. Старайтесь избегать открытого доступа к WiFi – он предоставляет возможность отслеживать ваши действия в сети и завладеть вашими личными данными. Если вы пользуетесь браузером, попробуйте как можно чаще применять протокол  HTTP, поддерживающий шифрование. Не открывайте электронные послания от людей, которых вы не знаете, или вложений, которые вы не просили.</p>

<p><span class='label'>Стирайте историю браузера и текстовые файлы-куки как можно чаще.</span> Не стоит избегать пользования Интернетом, однако определенная доля осторожности никогда не повредит.</p>

<p><span class='label'>Помните – ничто не совершенно.</span> Стопроцентной гарантии вашей анонимности и свободного доступа к ресурсам онлайн не существует, и если власти действительно захотят контролировать ваши действия в Интернете, они, скорее всего, добьются этой цели.</p>